interactions:
- request:
    body: '{"workspace_id": "dev"}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://spectacles.looker.com:19999/api/3.1/session
  response:
    content: '{"workspace_id":"dev","sudo_user_id":null,"can":{"view":true,"update":true}}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: '{"name": "pytest"}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://spectacles.looker.com:19999/api/3.1/projects/eye_exam/git_branch
  response:
    content: '{"name":"pytest","remote":"origin","remote_name":"pytest","error":null,"message":null,"owner_name":null,"readonly":false,"personal":false,"is_local":true,"is_remote":true,"is_production":false,"ahead_count":0,"behind_count":0,"commit_at":1655410229,"ref":"c2b675549d737cc192cba427f581237e63d1dafb","remote_ref":"c2b675549d737cc192cba427f581237e63d1dafb","can":{}}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/projects/eye_exam/manifest
  response:
    content: '{"name":"eye_exam","imports":[{"name":"looker-demo","url":null,"ref":null,"is_remote":false,"can":{}}],"localization_settings":null,"can":{}}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/projects/looker-demo/git_branch
  response:
    content: '{"name":"dev-josh-temple-8m75","remote":"origin","remote_name":"dev-josh-temple-8m75","error":null,"message":null,"owner_name":"Josh
      Temple","readonly":false,"personal":true,"is_local":true,"is_remote":true,"is_production":false,"ahead_count":0,"behind_count":0,"commit_at":1649260186,"ref":"c6cca9bf6cefa312c3f3716b2af16214fad4b5c3","remote_ref":"c6cca9bf6cefa312c3f3716b2af16214fad4b5c3","can":{}}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/projects/looker-demo/manifest
  response:
    content: "<!DOCTYPE html>\n<html>\n<head>\n    <title>Looker Not Found (404)</title>\n
      \   <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet'
      type='text/css'>\n\n    <!-- @@@@@@@@@@@@@ FAVICONS @@@@@@@@@@@@@ -->\n\n    <link
      rel=\"apple-touch-icon-precomposed\" sizes=\"57x57\" href=\"https://wwwstatic-b.lookercdn.com/favicon/apple-touch-icon-57x57.png\"
      />\n    <link rel=\"apple-touch-icon-precomposed\" sizes=\"114x114\" href=\"https://wwwstatic-c.lookercdn.com/favicon/apple-touch-icon-114x114.png\"
      />\n    <link rel=\"apple-touch[...]
[...]
- request:
    body: ''
    headers:
    method: DELETE
    uri: https://spectacles.looker.com:19999/api/3.1/projects/looker-demo/git_branch/tmp_spectacles_abc123
  response:
    content: ''
    headers:
    status_code: 204
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/projects/looker-demo/git_branches
  response:
    content: '[{"name":"affirm-demo","remote":"origin","remote_name":"affirm-demo","error":null,"message":null,"owner_name":null,"readonly":false,"personal":false,"is_local":true,"is_remote":false,"is_production":false,"ahead_count":null,"behind_count":null,"commit_at":1650895913,"ref":"ab21f19e913db2a208eda26e647d4cdfbb992949","remote_ref":null,[...]
