interactions:
- request:
    body: '{"workspace_id": "dev"}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://spectacles.looker.com:19999/api/3.1/session
  response:
    content: '{"workspace_id":"dev","sudo_user_id":null,"can":{"view":true,"update":true}}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: '{"name": "pytest"}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://spectacles.looker.com:19999/api/3.1/projects/eye_exam/git_branch
  response:
    content: '{"name":"pytest","remote":"origin","remote_name":"pytest","error":null,"message":null,"owner_name":null,"readonly":false,"personal":false,"is_local":true,"is_remote":true,"is_production":false,"ahead_count":0,"behind_count":0,"commit_at":1655410229,"ref":"c2b675549d737cc192cba427f581237e63d1dafb","remote_ref":"c2b675549d737cc192cba427f581237e63d1dafb","can":{}}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/projects/eye_exam/git_branch
  response:
    content: '{"name":"pytest","remote":"origin","remote_name":"pytest","error":null,"message":null,"owner_name":null,"readonly":false,"personal":false,"is_local":true,"is_remote":true,"is_production":false,"ahead_count":0,"behind_count":0,"commit_at":1655410229,"ref":"c2b675549d737cc192cba427f581237e63d1dafb","remote_ref":"c2b675549d737cc192cba427f581237e63d1dafb","can":{}}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
version: 1
