interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/lookml_models
  response:
    body:
      string: '[{"explores":[{"description":null,"label":"Cohort Data Tool","hidden":true,"group_label":"1)
        eCommerce with Event Data","name":"cohorts","can":{}},{"description":null,"label":"Web
        Analytics Data Tool","hidden":true,"group_label":"1) eCommerce with Event
        Data","name":"data_tool","can":{}},{"description":null,"label":"(1) Orders,
        Items and Users","hidden":false,"group_label":"1) eCommerce with Event Data","name":"order_items","can":{}},{"description":null,"label":"(2)
        Web Event Data","hidden":false,"group_label":"1) eCommerce with Event Data","name":"events","can":{}},{"description":null,"label":"(3)
     [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/lookml_models/eye_exam/explores/users__warn
  response:
    body:
      string: '{"id":"eye_exam::users__warn","name":"users__warn","description":null,"scopes":["users__warn"],"can_total":true,"can_save":true,"can_explain":true,"can_pivot_in_db":true,"can_subtotal":true,"has_timezone_support":true,"supports_cost_estimate":false,"connection_name":"snowlooker","null_sort_treatment":"high","files":null,"source_file":"eye_exam.model.lkml","model_name":"eye_exam","view_name":"users__warn","hidden":false,"sql_table_name":"users__warn","access_filters":[],"aliases":[],"always_filter":[],"conditionally_filter":[],"index_fields":[],"sets":[{"name":"users__warn","value":["users__warn.id","users__warn.age","users__warn.city","users__warn.email","users__warn.first_name","users__warn.last_name","users__warn.count"]},{"name":"ALL_FIELDS","value":["users__warn.id","users__warn.age","users__warn.city","users__warn.email","users__warn.first_name","users__warn.last_name","users__warn.count"]}],"tags":[],"errors":null,"fields":{"dimensions":[{"align":"right","can_filter":true,"category":"dimension","default_filter_value":null,"description":null,"enumerations":null,"field_group_label":null,"fill_style":null,"fiscal_month_offset":0,"has_allowed_values":false,"hidden":false,"is_filter":false,"is_numeric":true,"label":"Users
        Warn Age","label_from_parameter":null,"label_short":"Age","lookml_link":"/projects/eye_exam/files/views%2Fusers.view.lkml?line=12","map_layer":null,"name":"users__warn.age","strict_value_format":false,"permanent":null,"requires_refresh_on_sort":false,"sortable":true,"suggestions":null,"tags":[],"type":"number","user_attribute_filter_types":["number","advanced_filter_number"],"value_format":null,"view":"users__warn","view_label":"Users
        Warn","dynamic":false,"week_start_day":"monday","error":null,"field_group_variant":"Age","measure":false,"parameter":false,"primary_key":false,"project_name":"eye_exam","scope":"users__warn","source_file":"views/users__warn.view.lkml","source_file_path":"eye_exam/views/users__warn.view.lkml","suggest_dimension":"users__warn.age","suggest_explore":"users__warn","suggestable":false,"is_fiscal":false,"is_timeframe":false,"can_time_filter":false,"time_interval":null,"sql":"--spectacles:
        ignore\n         ${TABLE}.\"AGE\" ","sql_case":null},{"align":"left","can_filter":true,"category":"dimension","default_filter_value":null,"description":null,"enumerations":null,"field_group_label":null,"fill_style":null,"fiscal_month_offset":0,"has_allowed_values":false,"hidden":false,"is_filter":false,"is_numeric":false,"label":"Users
        Warn City","label_from_parameter":null,"label_short":"City","lookml_link":"/projects/eye_exam/files/views%2Fusers.view.lkml?line=18","map_layer":null,"name":"users__warn.city","strict_value_format":fal[...]
- request:
    body: '{"model": "eye_exam", "view": "users__warn", "fields": ["users__warn.city",
      "users__warn.email", "users__warn.first_name", "users__warn.id", "users__warn.last_name"],
      "limit": 0, "filter_expression": "1=2"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://spectacles.looker.com:19999/api/3.1/queries
  response:
    body:
      string: '{"id":2046,"view":"users__warn","fields":["users__warn.city","users__warn.email","users__warn.first_name","users__warn.id","users__warn.last_name"],"pivots":null,"fill_fields":null,"filters":null,"filter_expression":"1=2","sorts":null,"limit":"0","column_limit":null,"total":null,"row_total":null,"subtotals":null,"vis_config":null,"filter_config":null,"visible_ui_sections":null,"slug":"ZSVPPrq","dynamic_fields":null,"client_id":"a41oCed7RtZcplEBFDMo4L","share_url":"https://spectacles.looker.com/x/a41oCed7RtZcplEBFDMo4L","expanded_share_url":"https://spectacles.looker.com/explore/eye_exam/users__warn?fields=users__warn.city,users__warn.email,users__warn.first_name,users__warn.id,users__warn.last_name\u0026filter_expression=1%3D2\u0026limit=0\u0026origin=share-expanded","url":"/explore/eye_exam/users__warn?fields=users__warn.city,users__warn.email,users__warn.first_name,users__warn.id,users__warn.last_name\u0026filter_expression=1%3D2\u0026limit=0","query_timezone":null,"runtime":null,"has_table_calculations":false,"model":"eye_exam","can":{"run":true,"see_results":true,"explore":true,"create":true,"show":true,"cost_estimate":true,"index":true,"see_lookml":true,"see_aggregate_table_lookml":false,"see_derived_table_lookml":true,"see_sql":true,"generate_drill_links":true,"download":true,"download_unlimited":true,"schedule":true,"render":true}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"query_id": 2046, "result_format": "json_detail"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks?cache=false
  response:
    body:
      string: '{"query_id":2046,"query":{"id":2046,"view":"users__warn","fields":["users__warn.city","users__warn.email","users__warn.first_name","users__warn.id","users__warn.last_name"],"pivots":null,"fill_fields":null,"filters":null,"filter_expression":"1=2","sorts":null,"limit":"0","column_limit":null,"total":null,"row_total":null,"subtotals":null,"vis_config":null,"filter_config":null,"visible_ui_sections":null,"slug":"ZSVPPrq","dynamic_fields":null,"client_id":"a41oCed7RtZcplEBFDMo4L","share_url":"https://spectacles.looker.com/x/a41oCed7RtZcplEBFDMo4L","expanded_share_url":"https://spectacles.looker.com/explore/eye_exam/users__warn?fields=users__warn.city,users__warn.email,users__warn.first_name,users__warn.id,users__warn.last_name\u0026filter_expression=1%3D2\u0026limit=0\u0026origin=share-expanded","url":"/explore/eye_exam/users__warn?fields=users__warn.city,users__warn.email,users__warn.first_name,users__warn.id,users__warn.last_name\u0026filter_expression=1%3D2\u0026limit=0","query_timezone":null,"runtime":null,"has_table_calculations":false,"model":"eye_exam","can":{"run":true,"see_results":true,"explore":true,"create":true,"show":true,"cost_estimate":true,"index":true,"see_lookml":true,"see_aggregate_table_lookml":false,"see_derived_table_lookml":true,"see_sql":true,"generate_drill_links":true,"download":true,"download_unlimited":true,"schedule":true,"render":true}},"generate_links":true,"force_production":false,"path_prefix":"/explore","cache":false,"server_table_calcs":true,"cache_only":false,"cache_key":null,"status":"added","source":"api","runtime":null,"rebuild_pdts":false,"result_source":null,"look_id":null,"dashboard_id":null,"result_format":"json_detail","id":"d6e7a718a491201a7a496df711eebc3d","can":{"index":true,"show":true,"kill":true,"see_results":true}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=d6e7a718a491201a7a496df711eebc3d
  response:
    body:
      string: '{"d6e7a718a491201a7a496df711eebc3d":{"status":"added"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=d6e7a718a491201a7a496df711eebc3d
  response:
    body:
      string: '{"d6e7a718a491201a7a496df711eebc3d":{"status":"complete","result_source":"query","data":{"from_cache":true,"id":"d6e7a718a491201a7a496df711eebc3d","truncated":true,"supports_pivot_in_db":true,"null_sort_treatment":"high","expired":false,"ran_at":"2020-05-14T18:49:39+00:00","runtime":"1.431","added_params":{"sorts":["users__warn.city"]},"sql":"WITH
        users__warn AS (select * from\n        -- if dev -- \"PUBLIC\".\"USERS\"\n         \"PUBLIC\".\"USERS\"\n        )\nSELECT\n\tusers__warn.\"CITY\"  AS
        \"users__warn.city\",\n\tusers__warn.\"EMAIL\"  AS \"users__warn.email\",\n\tusers__warn.\"FIRST_NAME\"  AS
        \"users__warn.first_name\",\n\tusers__warn.\"ID\"  AS \"users__warn.id\",\n\tusers__warn.\"LAST_NAME\"  AS
        \"users__warn.last_name\"\nFROM users__warn\n\nWHERE 1 = 2\nORDER BY 1\nLIMIT
        0","sql_explain":"EXPLAIN WITH users__warn AS (select * from\n        -- if
        dev -- \"PUBLIC\".\"USERS\"\n         \"PUBLIC\".\"USERS\"\n        )\nSELECT
        \n\tusers__warn.\"CITY\"  AS \"users__warn.city\",\n\tusers__warn.\"EMAIL\"  AS
        \"users__warn.email\",\n\tusers__warn.\"FIRST_NAME\"  AS \"users__warn.first_name\",\n\tusers__warn.\"ID\"  AS
        \"users__warn.id\",\n\tusers__warn.\"LAST_NAME\"  AS \"users__warn.last_name\"\nFROM
        users__warn\n\nWHERE 1 = 2\nORDER BY 1 \nLIMIT 0","fields":{"measures":[],"dimensions":[{"align":"left","can_filter":true,"category":"dimension","default_filter_value":null,"description":null,"enumerations":null,"field_group_label":null,"fill_style":null,"fiscal_month_offset":0,"has_allowed_values":false,"hidden":false,"is_filter":false,"is_numeric":false,"label":"Users
        Warn City","label_from_parameter":null,"label_short":"City","lookml_link":"/projects/eye_exam/files/views%2Fusers.view.lkml?line=18","map_layer":null,"name":"users__warn.city","strict_value_format":false,"permanent":null,"requires_refresh_on_sort":false,"sortable":true,"suggestions":null,"tags":[],"type":"string","user_attribute_filter_types":["string","advanced_filter_string"],"value_format":null,"view":"users__warn","view_label":"Users
        Warn","dynamic":false,"week_start_day":"monday","error":null,"field_group_variant":"City","measure":false,"parameter":false,"primary_key":false,"project_name":"eye_exam","scope":"users__warn","source_file":"views/users__warn.view.lkml","source_file_path":"eye_exam/views/users__warn.view.lkml","suggest_dimension":"users__warn.city","suggest_explore":"users__warn","suggestable":true,"is_fiscal":false,"is_timeframe":false,"can_time_filter":false,"time_interval":null,"sql":null,"sql_case":null,"sorted":{"sort_index":0,"desc":false}},{"align":"left","can_filter":true,"category":"dimension","default_filter_value":null,"description":null,"enumerations":null,"field_group_label":null,"fill_style":null,"fiscal_month_offset":0,"has_allowed_values":false,"hidden":false,"is_filter":false,"is_numeric":false,"label":"Users
        Warn Email","label_from_parameter":null,"label_short":"Email","lookml_link":"/projects/eye_exam/files/views%2Fusers.view.lkml?line=23","map_layer":null,"name":"users__warn.email","strict_value_format[...]
[...]
