interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/lookml_models
  response:
    body:
      string: '[{"explores":[{"description":null,"label":"Cohort Data Tool","hidden":true,"group_label":"1)
        eCommerce with Event Data","name":"cohorts","can":{}},{"description":null,"label":"Web
        Analytics Data Tool","hidden":true,"group_label":"1) eCommerce with Event
        Data","name":"data_tool","can":{}},{"description":null,"label":"(1) Orders,
        Items and Users","hidden":false,"group_label":"1) eCommerce with Event Data","name":"order_items","can":{}},{"description":null,"label":"(2)
        Web Event Data","hidden":false,"group_label":"1) eCommerce with Event Data","name":"events","can":{}},{"description":null,"label":"(3)
     [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/lookml_models/eye_exam/explores/users
  response:
    body:
      string: '{"id":"eye_exam::users","name":"users","description":null,"scopes":["users"],"can_total":true,"can_save":true,"can_explain":true,"can_pivot_in_db":true,"can_subtotal":true,"has_timezone_support":true,"supports_cost_estimate":false,"connection_name":"snowlooker","null_sort_treatment":"high","files":null,"source_file":"eye_exam.model.lkml","model_name":"eye_exam","view_name":"users","hidden":false,"sql_table_name":"\"PUBLIC\".\"USERS\"\n     AS
        users","access_filters":[],"aliases":[],"always_filter":[],"conditionally_filter":[],"index_fields":[],"sets":[{"name":"users","value":["users.id","users.age","users.city","users.email","users.first_name","users.last_name","users.count"]},{"name":"ALL_FIELDS","value":["users.id","users.age","users.city","users.email","users.first_name","users.last_name","users.count"]}],"tags":[],"errors":null,"fields":{"dimensions":[{"align":"right","can_filter":true,"category":"dimension","default_filter_value":null,"description":null,"enumerations":null,"field_group_label":null,"fill_style":null,"fiscal_month_offset":0,"has_allowed_values":false,"hidden":false,"is_filter":false,"is_numeric":true,"label":"Users
        Age","label_from_parameter":null,"label_short":"Age","lookml_link":"/projects/eye_exam/files/views%2Fusers.view.lkml?line=12","map_layer":null,"name":"users.age","strict_value_format":false,"permanent":null,"requires_refresh_on_sort":false,"sortable":true,"suggestions":null,"tags":[],"type":"number","user_attribute_filter_types":["number","advanced_filter_number"],"value_format":null,"view":"users","view_label":"Users","dynamic":false,"week_start_day":"monday","error":null,"field_group_variant":"Age","measure":false,"parameter":false,"primary_key":false,"project_name":"eye_exam","scope":"users","source_file":"views/users.view.lkml","source_file_path":"eye_exam/views/users.view.lkml","suggest_dimension":"users.age","suggest_explore":"users","suggestable":false,"is_fiscal":false,"is_timeframe":false,"can_time_filter":false,"time_interval":null,"sql":"--spectacles:
        ignore\n         ${TABLE}.\"AGE\" ","sql_case":null},{"align":"left","can_filter":true,"category":"dimension","default_filter_value":null,"description":null,"enumerations":null,"field_group_label":null,"fill_style":null,"fiscal_month_offset":0,"has_allowed_values":false,"hidden":false,"is_filter":false,"is_numeric":false,"label":"Users
        City","label_from_parameter":null,"label_short":"City","lookml_link":"/projects/eye_exam/files/views%2Fusers.view.lkml?line=18","map_layer":null,"name":"users.city","strict_value_format":false,"permane[...]
- request:
    body: '{"model": "eye_exam", "view": "users", "fields": ["users.city"], "limit":
      0, "filter_expression": "1=2"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://spectacles.looker.com:19999/api/3.1/queries
  response:
    body:
      string: '{"id":1893,"view":"users","fields":["users.city"],"pivots":null,"fill_fields":null,"filters":null,"filter_expression":"1=2","sorts":null,"limit":"0","column_limit":null,"total":null,"row_total":null,"subtotals":null,"vis_config":null,"filter_config":null,"visible_ui_sections":null,"slug":"3c4RbDV","dynamic_fields":null,"client_id":"SBZattiR262tJCjdkB8sbv","share_url":"https://spectacles.looker.com/x/SBZattiR262tJCjdkB8sbv","expanded_share_url":"https://spectacles.looker.com/explore/eye_exam/users?fields=users.city\u0026filter_expression=1%3D2\u0026limit=0\u0026origin=share-expanded","url":"/explore/eye_exam/users?fields=users.city\u0026filter_expression=1%3D2\u0026limit=0","query_timezone":null,"runtime":1.3404319286346436,"has_table_calculations":false,"model":"eye_exam","can":{"run":true,"see_results":true,"explore":true,"create":true,"show":true,"cost_estimate":true,"index":true,"see_lookml":true,"see_aggregate_table_lookml":false,"see_derived_table_lookml":true,"see_sql":true,"generate_drill_links":true,"download":true,"download_unlimited":true,"schedule":true,"render":true}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"query_id": 1893, "result_format": "json_detail"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks?cache=false
  response:
    body:
      string: '{"query_id":1893,"query":{"id":1893,"view":"users","fields":["users.city"],"pivots":null,"fill_fields":null,"filters":null,"filter_expression":"1=2","sorts":null,"limit":"0","column_limit":null,"total":null,"row_total":null,"subtotals":null,"vis_config":null,"filter_config":null,"visible_ui_sections":null,"slug":"3c4RbDV","dynamic_fields":null,"client_id":"SBZattiR262tJCjdkB8sbv","share_url":"https://spectacles.looker.com/x/SBZattiR262tJCjdkB8sbv","expanded_share_url":"https://spectacles.looker.com/explore/eye_exam/users?fields=users.city\u0026filter_expression=1%3D2\u0026limit=0\u0026origin=share-expanded","url":"/explore/eye_exam/users?fields=users.city\u0026filter_expression=1%3D2\u0026limit=0","query_timezone":null,"runtime":1.3404319286346436,"has_table_calculations":false,"model":"eye_exam","can":{"run":true,"see_results":true,"explore":true,"create":true,"show":true,"cost_estimate":true,"index":true,"see_lookml":true,"see_aggregate_table_lookml":false,"see_derived_table_lookml":true,"see_sql":true,"generate_drill_links":true,"download":true,"download_unlimited":true,"schedule":true,"render":true}},"generate_links":true,"force_production":false,"path_prefix":"/explore","cache":false,"server_table_calcs":true,"cache_only":false,"cache_key":null,"status":"added","source":"api","runtime":1.3404319286346436,"rebuild_pdts":false,"result_source":null,"look_id":null,"dashboard_id":null,"result_format":"json_detail","id":"d44466c036c7116d5f0f8e442525b45e","can":{"index":true,"show":true,"kill":true,"see_results":true}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=d44466c036c7116d5f0f8e442525b45e%2Cc8bb031f23838a0da3d18d8cfef73b5c%2C98bd4e1376fa2727e739195ae57310fd%2Cadff620768304b4fa52cd7d5d9b0fd5c%2C01fea3a0e9ca8c449a3af5bb5895a4f9
  response:
    body:
      string: '{"01fea3a0e9ca8c449a3af5bb5895a4f9":{"status":"added"},"98bd4e1376fa2727e739195ae57310fd":{"status":"added"},"adff620768304b4fa52cd7d5d9b0fd5c":{"status":"added"},"c8bb031f23838a0da3d18d8cfef73b5c":{"status":"added"},"d44466c036c7116d5f0f8e442525b45e":{"status":"running"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=d44466c036c7116d5f0f8e442525b45e%2Cc8bb031f23838a0da3d18d8cfef73b5c%2C98bd4e1376fa2727e739195ae57310fd%2Cadff620768304b4fa52cd7d5d9b0fd5c%2C01fea3a0e9ca8c449a3af5bb5895a4f9
  response:
    body:
      string: '{"01fea3a0e9ca8c449a3af5bb5895a4f9":{"status":"complete","result_source":"query","data":{"from_cache":true,"id":"01fea3a0e9ca8c449a3af5bb5895a4f9","truncated":true,"supports_pivot_in_db":true,"null_sort_treatment":"high","expired":false,"ran_at":"2020-05-13T23:41:10+00:00","runtime":"1.046","added_params":{"sorts":["users.last_name"]},"sql":"SELECT\n\tusers.\"LAST_NAME\"  AS
        \"users.last_name\"\nFROM \"PUBLIC\".\"USERS\"\n     AS users\n\nWHERE 1 =
        2\nGROUP BY 1\nORDER BY 1\nLIMIT 0","sql_explain":"EXPLAIN SELECT \n\tusers.\"LAST_NAME\"  AS
        \"users.last_name\"\nFROM \"PUBLIC\".\"USERS\"\n     AS users\n\nWHERE 1 =
        2\nGROUP BY 1\nORDER BY 1 \nLIMIT 0","fields":{"measures":[],"dimensions":[{"align":"left","can_filter":true,"category":"dimension","default_filter_value":null,"description":null,"enumerations":null,"field_group_label":null,"fill_style":null,"fiscal_month_offset":0,"has_allowed_values":false,"hidden":false,"is_filter":false,"is_numeric":false,"label":"Users
        Last Name","label_from_parameter":null,"label_short":"Last Name","lookml_link":"/projects/eye_exam/files/views%2Fusers.view.lkml?line=33","map_layer":null,"name":"users.last_name","strict_value_format":false,"permanent":null,"requires_refresh_on_sort":false,"sortable":true,"suggestions":null,"tags":[],"type":"string","user_attribute_filter_types":["string","advanced_filter_string"],"value_format":null,"view":"users","view_label":"Users","dynamic":false,"week_start_day":"monday","error":null,"field_group_variant":"Last
        Name","measure":false,"parameter":false,"primary_key":false,"project_name":"eye_exam","scope":"users","source_file":"views/users.view.lkml","source_file_path":"eye_exam/views/users.view.lkml","suggest_dimension":"users.last_name","suggest_explore":"users","suggestable":true,"is_fiscal":false,"is_timeframe":false,"can_time_filter":false,"time_interval":null,"sql":null,"sql_case":null,"sorted":{"sort_index":0,"desc":false}}],"table_calculations":[],"pivots":[]},"fill_fields":[],"has_totals":false,"has_row_totals":false,"applied_filters":{},"applied_filter_expression":"1=2","number_format":"1,234.56","explore":{"name":"users","label":"Users","description":null},"timezone":"America/Los_Angeles","data":[],"drill_menu_build_time":0.038702,"has_subtotals":false}},"98bd4e1376fa2727e739195ae57310fd":{"status":"complete","result_source":"query","data":{"from_cache":true,"id":"98bd4e1376fa2727e739195ae57310fd","truncated":true,"supports_pivot_in_db":true,"null_sort_treatment":"high","expired":false,"ran_at":"2020-05-13T23:41:10+00:00","runtime":"1.201","added_params":{"sorts":["users.first_name"]},"sql":"SELECT\n\tusers.\"FIRST_NAME\"  AS
        \"users.first_name\"\nFROM \"PUBLIC\".\"USERS\"\n     AS users\n\nWHERE 1
        = 2\nGROUP BY 1\nORDER [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=078207a6f5398d312ea3f840382d34a9%2Cbbe8865ca34aedae3d2fb167b369384a%2C897d46032c706c2ca3b31495a0a32a91%2C413154a4144cd32f80c93e1eba07770f%2C90cd885446c00ed8a5ee97edf7ecff6c
  response:
    body:
      string: '{"078207a6f5398d312ea3f840382d34a9":{"status":"running"},"413154a4144cd32f80c93e1eba07770f":{"status":"added"},"897d46032c706c2ca3b31495a0a32a91":{"status":"added"},"90cd885446c00ed8a5ee97edf7ecff6c":{"status":"added"},"bbe8865ca34aedae3d2fb167b369384a":{"status":"running"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=897d46032c706c2ca3b31495a0a32a91%2C413154a4144cd32f80c93e1eba07770f%2C90cd885446c00ed8a5ee97edf7ecff6c
  response:
    body:
      string: '{"413154a4144cd32f80c93e1eba07770f":{"status":"complete","result_source":"query","data":{"from_cache":true,"id":"413154a4144cd32f80c93e1eba07770f","truncated":true,"supports_pivot_in_db":true,"null_sort_treatmen[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=d5b2531ae7a9417c293b02a8943d1ced%2C41bbb3aa9247e20ecc912db774882cac%2Ca81cceedacf35195a1f8b3c081fbc844%2C036b1d296de3e39f4ee32c4c84e82529%2Cab71ab7fa70235f570d0055e9feef519
  response:
    body:
      string: '{"036b1d296de3e39f4ee32c4c84e82529":{"status":"added"},"41bbb3aa9247e20ecc912db774882cac":{"status":"running"},"a81cceedacf35195a1f8b3c081fbc844":{"status":"running"},"ab71ab7fa70235f570d0055e9feef519":{"status":"added"},"d5b2531ae7a9417c293b02a8943d1ced":{"status":"running"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=036b1d296de3e39f4ee32c4c84e82529%2Cab71ab7fa70235f570d0055e9feef519
  response:
    body:
      string: '{"036b1d296de3e39f4ee32c4c84e82529":{"status":"complete","result_source":"query","data":{"from_cache":true,"id":"036b1d296de3e39f4ee32c4c84e82529","truncated":true,"supports_pivot_in_db":true,"null_sort_treatment":"high","expired":false,"ran_at":[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=9be1bc2dcf5bed6bf1628205b40a21ee%2Ce3f7bb01dcdb48198440cd03eb869c30%2C2f26ae7950394d260ebdf121105ec8f3%2C746c80d4bd6ba9e789b0ea9669503c66%2C598df4c911d78cf0e884edec43a32c6d
  response:
    body:
      string: '{"2f26ae7950394d260ebdf121105ec8f3":{"status":"running"},"598df4c911d78cf0e884edec43a32c6d":{"status":"added"},"746c80d4bd6ba9e789b0ea9669503c66":{"status":"added"},"9be1bc2dcf5bed6bf1628205b40a21ee":{"status":"running"},"e3f7bb01dcdb48198440cd03eb869c30":{"status":"running"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
