interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/lookml_models
  response:
    body:
      string: '[{"explores":[{"description":null,"label":"Cohort Data Tool","hidden":true,"group_label":"1)
        eCommerce with Event Data","name":"cohorts","can":{}},{"description":null,"label":"Web
        Analytics Data Tool","hidden":true,"group_label":"1) eCommerce with Event
        Data","name":"data_tool","can":{}},{"description":null,"label":"(1) Orders,
        Items and Users","hidden":false,"group_label":"1) eCommerce with Event Data","name":"order_items","can":{}},{"description":null,"label":"(2)
        Web Event Data","hidden":false,"group_label":"1) eCommerce with Event Data","name":"events","can":{}},{"description":null,"label":"(3)
     [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/lookml_models/eye_exam/explores/users
  response:
    body:
      string: '{"id":"eye_exam::users","name":"users","description":null,"scopes":["users"],"can_total":true,"can_save":true,"can_explain":true,"can_pivot_in_db":true,"can_subtotal":true,"has_timezone_support":true,"supports_cost_estimate":false,"connection_name":"snowlooker","null_sort_treatment":"high","files":null,"source_file":"eye_exam.model.lkml","model_name":"eye_exam","view_name":"users","hidden":false,"sql_table_name":"\"PUBLIC\".\"USERS\"\n     AS
        users","access_filters":[],"aliases":[],"always_filter":[],"conditionally_filter":[],"index_fields":[],"sets":[{"name":"users","value":["users.id","users.age","users.city","users.email","users.first_name","users.last_name","users.count"]},{"name":"ALL_FIELDS","value":["users.id","users.age","users.city","users.email","users.first_name","users.last_name","users.count"]}],"tags":[],"errors":null,"fields":{"dimensions":[{"align":"right","can_filter":true,"category":"dimension","default_filter_value":null,"description":null,"enumerations":null,"field_group_label":null,"fill_style":null,"fiscal_month_offset":0,"has_allowed_values":false,"hidden":false,"is_filter":false,"is_numeric":true,"label":"Users
        Age","label_from_parameter":null,"label_short":"Age","lookml_link":"/projects/eye_exam/files/views%2Fusers.view.lkml?line=12","map_layer":null,"name":"users.age","strict_value_format":false,"permanent":null,"requires_refresh_on_sort":false,"sortable":true,"suggestions":null,"tags":[],"type":"number","user_attribute_filter_types":["number","advanced_filter_number"],"value_format":null,"view":"users","view_label":"Users","dynamic":false,"week_start_day":"monday","error":null,"field_group_variant":"Age","measure":false,"parameter":false,"primary_key":false,"project_name":"eye_exam","scope":"users","source_file":"views/users.view.lkml","source_file_path":"eye_exam/views/users.view.lkml","suggest_dimension":"users.age","suggest_explore":"users","suggestable":false,"is_fiscal":false,"is_timeframe":false,"can_time_filter":false,"time_interval":null,"sql":"--spectacles:
        ignore\n         ${TABLE}.\"AGE\" ","sql_case":null},{"align":"left","can_filter":true,"category":"dimension","default_filter_value":null,"description":null,"enumerations":null,"field_group_label":null,"fill_style":null,"fiscal_month_offset":0,"has_allowed_values":false,"hidden":false,"is_filter":false,"is_numeric":false,"label":"Users
        City","label_from_parameter":null,"label_short":"City","lookml_link":"/projects/eye_exam/files/views%2Fusers.view.lkml?line=18","map_layer":null,"name":"users.city","strict_value_format":false,"permane[...]
- request:
    body: '{"model": "eye_exam", "view": "users", "fields": ["users.city"], "limit":
      0, "filter_expression": "1=2"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://spectacles.looker.com:19999/api/3.1/queries
  response:
    body:
      string: '{"id":1893,"view":"users","fields":["users.city"],"pivots":null,"fill_fields":null,"filters":null,"filter_expression":"1=2","sorts":null,"limit":"0","column_limit":null,"total":null,"row_total":null,"subtotals":null,"vis_config":null,"filter_config":null,"visible_ui_sections":null,"slug":"3c4RbDV","dynamic_fields":null,"client_id":"SBZattiR262tJCjdkB8sbv","share_url":"https://spectacles.looker.com/x/SBZattiR262tJCjdkB8sbv","expanded_share_url":"https://spectacles.looker.com/explore/eye_exam/users?fields=users.city\u0026filter_expression=1%3D2\u0026limit=0\u0026origin=share-expanded","url":"/explore/eye_exam/users?fields=users.city\u0026filter_expression=1%3D2\u0026limit=0","query_timezone":null,"runtime":1.3404319286346436,"has_table_calculations":false,"model":"eye_exam","can":{"run":true,"see_results":true,"explore":true,"create":true,"show":true,"cost_estimate":true,"index":true,"see_lookml":true,"see_aggregate_table_lookml":false,"see_derived_table_lookml":true,"see_sql":true,"generate_drill_links":true,"download":true,"download_unlimited":true,"schedule":true,"render":true}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"query_id": 1893, "result_format": "json_detail"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks?cache=false
  response:
    body:
      string: '{"query_id":1893,"query":{"id":1893,"view":"users","fields":["users.city"],"pivots":null,"fill_fields":null,"filters":null,"filter_expression":"1=2","sorts":null,"limit":"0","column_limit":null,"total":null,"row_total":null,"subtotals":null,"vis_config":null,"filter_config":null,"visible_ui_sections":null,"slug":"3c4RbDV","dynamic_fields":null,"client_id":"SBZattiR262tJCjdkB8sbv","share_url":"https://spectacles.looker.com/x/SBZattiR262tJCjdkB8sbv","expanded_share_url":"https://spectacles.looker.com/explore/eye_exam/users?fields=users.city\u0026filter_expression=1%3D2\u0026limit=0\u0026origin=share-expanded","url":"/explore/eye_exam/users?fields=users.city\u0026filter_expression=1%3D2\u0026limit=0","query_timezone":null,"runtime":1.3404319286346436,"has_table_calculations":false,"model":"eye_exam","can":{"run":true,"see_results":true,"explore":true,"create":true,"show":true,"cost_estimate":true,"index":true,"see_lookml":true,"see_aggregate_table_lookml":false,"see_derived_table_lookml":true,"see_sql":true,"generate_drill_links":true,"download":true,"download_unlimited":true,"schedule":true,"render":true}},"generate_links":true,"force_production":false,"path_prefix":"/explore","cache":false,"server_table_calcs":true,"cache_only":false,"cache_key":null,"status":"added","source":"api","runtime":1.3404319286346436,"rebuild_pdts":false,"result_source":null,"look_id":null,"dashboard_id":null,"result_format":"json_detail","id":"79056d38e6a20c457b8e0d24ee382913","can":{"index":true,"show":true,"kill":true,"see_results":true}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=79056d38e6a20c457b8e0d24ee382913%2C7ca2e0ff9353c36a4baae8ab2e59b01f%2C7d2bf2ab38f3df9d57dcae10985c9505%2Ce1b9917b144a77e689f0bcf086922ca1%2C4f38250245c5d59bc78e8ca5ab534fc4
  response:
    body:
      string: '{"4f38250245c5d59bc78e8ca5ab534fc4":{"status":"added"},"79056d38e6a20c457b8e0d24ee382913":{"status":"running"},"7ca2e0ff9353c36a4baae8ab2e59b01f":{"status":"running"},"7d2bf2ab38f3df9d57dcae10985c9505":{"status":"added"},"e1b9917b144a77e689f0bcf086922ca1":{"status":"added"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=79056d38e6a20c457b8e0d24ee382913%2C7ca2e0ff9353c36a4baae8ab2e59b01f%2C7d2bf2ab38f3df9d57dcae10985c9505%2Ce1b9917b144a77e689f0bcf086922ca1%2C4f38250245c5d59bc78e8ca5ab534fc4
  response:
    body:
      string: '{"4f38250245c5d59bc78e8ca5ab534fc4":{"status":"running"},"79056d38e6a20c457b8e0d24ee382913":{"status":"complete","result_source":"query","data":{"from_cache":true,"id":"79056d38e6a20c457b8e0d24ee382913","truncated":true,"supports_pivot_in_db":true,"null_sort_treatment":"high","expired":false,"ran_at":"2020-05-13T04:07:29+00:00","runtime":"0.934","added_params":{"sorts":["users.city"]},"sql":"SELECT\n\tusers.\"CITY\"  AS
        \"users.city\"\nFROM \"PUBLIC\".\"USERS\"\n     AS users\n\nWHERE 1 = 2\nGROUP
        BY 1\nORDER BY 1\nLIMIT 0","sql_explain":"EXPLAIN SELECT \n\tusers.\"CITY\"  AS
        \"users.city\"\nFROM \"PUBLIC\".\"USERS\"\n     AS users\n\nWHERE 1 = 2\nGROUP
        BY 1\nORDER BY 1 \nLIMIT 0","fields":{"measures":[],"dimensions":[{"align":"left","can_filter":true,"category":"dimension","default_filter_value":null,"description":null,"enumerations":null,"field_group_label":null,"fill_style":null,"fiscal_month_offset":0,"has_allowed_values":false,"hidden":false,"is_filter":false,"is_numeric":false,"label":"Users
        City","label_from_parameter":null,"label_short":"City","lookml_link":"/projects/eye_exam/files/views%2Fusers.view.lkml?line=18","map_layer":null,"name":"users.city","strict_value_format":false,"permanent":null,"requires_refresh_on_sort":false,"sortable":true,"suggestions":null,"tags":[],"type":"string","user_attribute_filter_types":["string","advanced_filter_string"],"value_format":null,"view":"users","view_label":"Users","dynamic":false,"week_start_day":"monday","error":null,"field_group_variant":"City","measure":false,"parameter":false,"primary_key":false,"project_name":"eye_exam","scope":"users","source_file":"views/users.view.lkml","source_file_path":"eye_exam/views/users.view.lkml","suggest_dimension":"users.city","suggest_explore":"users","suggestable":true,"is_fiscal":false,"is_timeframe":false,"can_time_filter":false,"time_interval":null,"sql":null,"sql_case":null,"sorted":{"sort_index":0,"desc":false}}],"table_calculations":[],"pivots":[]},"fill_fields":[],"has_totals":false,"has_row_totals":false,"applied_filters":{},"applied_filter_expression":"1=2","number_format":"1,234.56","explore":{"name":"users","label":"Users","description":null},"timezone":"America/Los_Angeles","data":[],"drill_menu_build_time":0.043158999999999996,"has_subtotals":false}},"7ca2e0ff9353c36a4baae8ab2e59b01f":{"status":"running"},"7d2bf2ab38f3df9d57dcae10985c9505":{"status":"running"},"e1b9917b144a77e689f0bcf086922ca1":{"status":"running"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=7ca2e0ff9353c36a4baae8ab2e59b01f%2C7d2bf2ab38f3df9d57dcae10985c9505%2Ce1b9917b144a77e689f0bcf086922ca1%2C4f38250245c5d59bc78e8ca5ab534fc4
  response:
    body:
      string: '{"4f38250245c5d59bc78e8ca5ab534fc4":{"status":"running"},"7ca2e0ff9353c36a4baae8ab2e59b01f":{"status":"running"},"7d2bf2ab38f3df9d57dcae10985c9505":{"status":"running"},"e1b9917b144a77e689f0bcf086922ca1":{"status":"running"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=186b37c81dfeeb21d493e2294caeb10a%2Cd5f78a414c6555e7c1cbf55dd4aa48fe%2Cb3ecae744b9db16cf73c497c792ee9d9%2Ca5729f459d91812546adf0909d415477%2C70f2e5cdf458bee7413b39228c3a01a1
  response:
    body:
      string: '{"186b37c81dfeeb21d493e2294caeb10a":{"status":"running"},"70f2e5cdf458bee7413b39228c3a01a1":{"status":"added"},"a5729f459d91812546adf0909d415477":{"status":"added"},"b3ecae744b9db16cf73c497c792ee9d9":{"status":"running"},"d5f78a414c6555e7c1cbf55dd4aa48fe":{"status":"running"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=704ca7b58c2081f29326a3affedaf77b%2C6bf25be1e4cc2bf1343b5b496f8aa569%2C7deac1e98548ff828d4c419a2ad1b74f%2C1ee12f2356d910d921cb0eea9328d4d9%2Cca6647eb9d42da2cc85b0572b39756fd
  response:
    body:
      string: '{"1ee12f2356d910d921cb0eea9328d4d9":{"status":"running"},"6bf25be1e4cc2bf1343b5b496f8aa569":{"status":"running"},"704ca7b58c2081f29326a3affedaf77b":{"status":"running"},"7deac1e98548ff828d4c419a2ad1b74f":{"status":"running"},"ca6647eb9d42da2cc85b0572b39756fd":{"status":"added"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=ac1fde44adcf6e5febdcb9b1a4bb1dcc%2Cb57790117e29ae4428a3d674734ccf44%2C4a0a4299b245d1f7ad02bafd50e62e66
  response:
    body:
      string: '{"4a0a4299b245d1f7ad02bafd50e62e66":{"status":"running"},"ac1fde44adcf6e5febdcb9b1a4bb1dcc":{"status":"complete","result_source":"query","data":{"from_cache":true,"id":"ac1fde44adcf6e5febdcb9b1a4bb1dcc","truncated":true,"supports_pivot_in_db":true,"null_sort_treatment":"high","expired":false,"ran_at":"2020-05-13T04:07:51+00:00","runtime":"0.822","added_params":{"sorts":["users.first_name"]},"sql":"SELECT\n\tusers.\"FIRST_NAME\"  AS
        \"users.first_name\"\nFROM \"PUBLIC\".\"USERS\"\n     AS users\n\nWHERE 1
        = 2\nGROUP BY 1\nORDER BY 1\nLIMIT 0","sql_explain":"EXPLAIN SELEC[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=b57790117e29ae4428a3d674734ccf44%2C4a0a4299b245d1f7ad02bafd50e62e66
  response:
    body:
      string: '{"4a0a4299b245d1f7ad02bafd50e62e66":{"status":"complete","result_source":"query","data":{"from_cache":true,"id":"4a0a4299b245d1f7ad02bafd50e62e66","truncated":true,"supports_pivot_in_db":true,"null_sort_treatment":"high","expired":false,"ran_at":[...]
