interactions:
- request:
    body: '{"model": "eye_exam", "view": "users", "fields": ["users.city", "users.email",
      "users.first_name", "users.id", "users.last_name", "users.state"], "limit":
      0, "filter_expression": "1=2"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://spectacles.looker.com:19999/api/3.1/queries?fields=id%2Cshare_url
  response:
    body:
      string: '{"id":2216,"share_url":"https://spectacles.looker.com/x/XZAL69PohkzXTUbfYcq3V9"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/queries/2216/run/sql
  response:
    body:
      string: "SELECT\n    users.\"CITY\"  AS \"users.city\",\n    users.\"EMAIL\"
        \ AS \"users.email\",\n    users.\"FIRST_NAME\"  AS \"users.first_name\",\n
        \   users.\"ID\"  AS \"users.id\",\n    users.\"LAST_NAME\"  AS \"users.last_name\",\n
        \   users.\"STATE\"  AS \"users.state\"\nFROM \"PUBLIC\".\"USERS\"\n     AS
        users\nWHERE (1 = 2)\nORDER BY\n    1\nFETCH NEXT 0 ROWS ONLY"
    headers:
      Content-Type:
      - application/sql
    status:
      code: 200
      message: OK
version: 1
