interactions:
- request:
    body: '{"workspace_id": "dev"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://spectacles.looker.com:19999/api/3.1/session
  response:
    body:
      string: '{"workspace_id":"dev","sudo_user_id":null,"can":{"view":true,"update":true}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "pytest"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://spectacles.looker.com:19999/api/3.1/projects/eye_exam/git_branch
  response:
    body:
      string: '{"name":"pytest","remote":"origin","remote_name":"pytest","error":null,"message":null,"owner_name":null,"readonly":false,"personal":false,"is_local":true,"is_remote":true,"is_production":false,"ahead_count":0,"behind_count":0,"commit_at":1616610837,"ref":"853ff9f77a5c96bf36ec709ea34c1aa0bf0803ea","remote_ref":"853ff9f77a5c96bf36ec709ea34c1aa0bf0803ea","can":{}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/lookml_models?fields=name%2Cproject_name%2Cexplores
  response:
    body:
      string: '[{"name":"thelook","project_name":"welcome_to_looker","explores":[{"description":null,"label":"Cohort
        Data Tool","hidden":true,"group_label":"1) eCommerce with Event Data","name":"cohorts","can":{}},{"description":null,"label":"Web
        Analytics Data Tool","hidden":true,"group_label":"1) eCommerce with Event
        Data","name":"data_tool","can":{}},{"description":null,"label":"(1) Orders,
        Items and Users","hidden":false,"group_label":"1) eCommerce with Event Data","name":"order_items","can":{}},{"description":null,"label":"(2)
        Web Event Data","hidden":false,"group_label":"1) eCommerce with Event Data","name":"ev[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/lookml_models/eye_exam/explores/users__fail_and_warn?fields=fields
  response:
    body:
      string: '{"fields":{"dimensions":[{"align":"right","can_filter":true,"category":"dimension","default_filter_value":null,"description":null,"enumerations":null,"field_group_label":null,"fill_style":null,"fiscal_month_offset":0,"has_allowed_values":false,"hidden":false,"is_filter":false,"is_numeric":true,"label":"Users
        Fail and Warn Age","label_from_parameter":null,"label_short":"Age","map_layer":null,"name":"users__fail_and_warn.age","strict_value_format":false,"permanent":null,"requires_refresh_on_sort":false,"sortable":true,"suggestions":null,"tags":[],"type":"number","user_attribute_filter_types":["number","advanced_filter_number"],"value_format":null,"view":"users__fail_and_warn","view_label":"Users
        Fail and Warn","dynamic":false,"week_start_day":"monday","dimension_group":null,"error":null,"field_group_variant":"Age","measure":false,"parameter":false,"primary_key":false,"project_name":"eye_exam","scope":"users__fail_and_warn","suggest_dimension":"users__fail_and_warn.age","suggest_explore":"users__fail_and_warn","suggestable":false,"is_fiscal":false,"is_timeframe":false,"can_time_filter":false,"time_interval":null,"lookml_link":"/projects/eye_exam/files/views%2Fusers__fail.view.lkml?line=14","source_file":"views/users__fail_and_warn.view.lkml","source_file_path":"eye_exam/views/users__fail_and_warn.view.lkml","sql":"--spectacles:
        ignore\n      ${TABLE}.\"AGE\" ","sql_case":null,"filters":null},{"align":"left","can_filter":true,"category":"dimension","default_filter_value":null,"description":null,"enumerations":null,"field_group_label":null,"fill_style":null,"fiscal_month_offset":0,"has_allowed_values":false,"hidden":false,"is_filter":false,"is_numeric":false,"label":"Users
        Fail and Warn City","label_from_parameter":null,"label_short":"City","map_layer":null,"name":"users__fail_and_warn.city","strict_value_format":false,"permanent":null,"requires_refresh_on_sort":false,"s[...]
- request:
    body: '{"model": "eye_exam", "view": "users__fail_and_warn", "fields": ["users__fail_and_warn.city",
      "users__fail_and_warn.email", "users__fail_and_warn.first_name", "users__fail_and_warn.id",
      "users__fail_and_warn.last_name"], "limit": 0, "filter_expression": "1=2"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://spectacles.looker.com:19999/api/3.1/queries?fields=id%2Cshare_url
  response:
    body:
      string: '{"id":2036,"share_url":"https://spectacles.looker.com/x/J7QOMPcSPdJmcM2NiuCton"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"query_id": 2036, "result_format": "json_detail"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks?fields=id&cache=false
  response:
    body:
      string: '{"id":"ad3aba1fde59862e39e147a9c14df416"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=ad3aba1fde59862e39e147a9c14df416
  response:
    body:
      string: '{"ad3aba1fde59862e39e147a9c14df416":{"status":"added"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=ad3aba1fde59862e39e147a9c14df416
  response:
    body:
      string: '{"ad3aba1fde59862e39e147a9c14df416":{"status":"error","result_source":"query","data":{"from_cache":true,"id":"ad3aba1fde59862e39e147a9c14df416","supports_pivot_in_db":true,"null_sort_treatment":"high","expired":false,"ran_at":"2021-03-24T18:42:13+00:00","aggregate_table_used_info":null,"runtime":"0.665","added_params":{"sorts":["users__fail_and_warn.city"]},"sql":"WITH
        users__fail_and_warn AS (select * from\n         \"PUBLIC\".\"USERS\"\n        --
        if prod -- \"PUBLIC\".\"USERS\"\n        )\nSELECT\n\tusers__fail_and_warn.\"CITY\"  AS
        \"users__fail_and_warn.city\",\n\tusers__fail_and_warn.\"EMAIL_ADDRESS\"  AS
        \"users__fail_and_warn.email\",\n\tusers__fail_and_warn.\"FIRST_NAME\"  AS
        \"users__fail_and_warn.first_name\",\n\tusers__fail_and_warn.\"ID\"  AS \"users__fail_and_warn.id\",\n\tusers__fail_and_warn.\"LAST_NAME\"  AS
        \"users__fail_and_warn.last_name\"\nFROM users__fail_and_warn\n\nWHERE 1 =
        2\nORDER BY 1\nLIMIT 0","sql_explain":"EXPLAIN WITH users__fail_and_warn AS
        (select * from\n         \"PUBLIC\".\"USERS\"\n        -- if prod -- \"PUBLIC\".\"USERS\"\n        )\nSELECT
        \n\tusers__fail_and_warn.\"CITY\"  AS \"users__fail_and_warn.city\",\n\tusers__fail_and_warn.\"EMAIL_ADDRESS\"  AS
        \"users__fail_and_warn.email\",\n\tusers__fail_and_warn.\"FIRST_NAME\"  AS
        \"users__fail_and_warn.first_name\",\n\tusers__fail_and_warn.\"ID\"  AS \"users__fail_and_warn.id\",\n\tusers__fail_and_warn.\"LAST_NAME\"  AS
        \"users__fail_and_warn.last_name\"\nFROM users__fail_and_warn\n\nWHERE 1 =
        2\nORDER BY 1 \nLIMIT 0","fields":{"measures":[],"dimensions":[{"align":"left","can_filter":true,"category":"dimension","default_filter_value":null,"description":null,"enumerations":null,"field_group_label":null,"fill_style":null,"fiscal_month_offset":0,"has_allowed_values":false,"hidden":false,"is_filter":false,"is_numeric":false,"label":"Users
        Fail and Warn City","label_from_parameter":null,"label_short":"City","map_layer":null,"name":"users__fail_and_warn.city","strict_value_format":false,"permanent":null,"requires_refresh_on_sort":false,"sortable":true,"suggestions":null,"tags":[],"type":"string","user_attribute_filter_types":["string","advanced_filter_string"],"value_format":null,"view":"users__fail_and_warn","view_label":"Users
        Fail and Warn","dynamic":false,"week_start_day":"monday","dimension_group":null,"error":null,"field_group_variant":"City","measure":false,"parameter":false,"primary_key":false,"project_name":"eye_exam","scope":"users__fail_and_warn","suggest_dimension":"users__fail_and_warn.city","suggest_explore":"users__fail_and_warn","suggestable":true,"is_fiscal":false,"is_timeframe":false,"can_time_filter":false,"time_interval":null,"lookml_link":"/projects/eye_exam/files/views%2Fusers__fail.view.lkml?line=20","source_file":"views/users__fail_and_warn.view.lkml","source_file_path":"eye_exam/views/users__fail_and_warn.view.lkml","sql":"${TABLE}.\"CITY\"
        ","sql_case":null,"filters":null,"sorted":{"sort_index":0,"desc":false}},{"align":"left","can_filter":true,"category":"dimension","default_filter_value":null,"description":null,"enumerations":null,"field_group_label":null,"fill_style":null,"fiscal_month_offset":0,"has_allowed_values":false,"hidden":false,"is_filter":false,"is_numeric":false,"label":"Users
        Fail and Warn Email","label_from_parameter":null,"label_short":"Email","map_layer":null,"name":"users__fail_and_warn.email","strict_value_format":false,"permanent":null,"requires_refresh_on_sort":fal[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=461127c1bc81f2a512544f344fcb177a%2C78b83a9741cafcf91161360530947f27%2C94a3778bc915feb147ce32c38ea2cdd0%2C40d0ecc7eae8880c4819ddc4a3c11fda%2Cd91c9afa292d2538915cb95ddd4c736b
  response:
    body:
      string: '{"40d0ecc7eae8880c4819ddc4a3c11fda":{"status":"added"},"461127c1bc81f2a512544f344fcb177a":{"status":"running"},"78b83a9741cafcf91161360530947f27":{"status":"running"},"94a3778bc915feb147ce32c38ea2cdd0":{"status":"added"},"d91c9afa292d2538915cb95ddd4c736b":{"status":"added"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=461127c1bc81f2a512544f344fcb177a%2C94a3778bc915feb147ce32c38ea2cdd0%2C40d0ecc7eae8880c4819ddc4a3c11fda%2Cd91c9afa292d2538915cb95ddd4c736b
  response:
    body:
      string: '{"40d0ecc7eae8880c4819ddc4a3c11fda":{"status":"error","result_source":"query","data":{"from_cache":true,"id":"40d0ecc7eae8880c4819ddc4a3c11fda","truncated":true,"supports_pivot_in_db":true,"null_sort_treatment":"high","expired":false,"ran_at":"2021-03-24T18:42:17+00:00","aggregate_table_used_info":null,"runtime":"0.659","sql":"WITH
        users__fail_and_warn AS (select * from\n         \"PUBLIC\".\"USERS\"\n        --
        if prod -- \"PUBLIC\".\"USERS\"\n        )\nSELECT\n\tusers__fail_and_warn.\"ID\"  AS
        \"users__fail_and_warn.id\"\nFROM users__fail_and_warn\n\nWHERE 1 = 2\nLIMIT
        0","sql_explain":"EXPLAIN WITH users__fail_an[...]
