interactions:
- request:
    body: '{"workspace_id": "dev"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://spectacles.looker.com:19999/api/3.1/session
  response:
    body:
      string: '{"workspace_id":"dev","sudo_user_id":null,"can":{"view":true,"update":true}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "pytest"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://spectacles.looker.com:19999/api/3.1/projects/eye_exam/git_branch
  response:
    body:
      string: '{"name":"pytest","remote":"origin","remote_name":"pytest","error":null,"message":null,"owner_name":null,"readonly":false,"personal":false,"is_local":true,"is_remote":true,"is_production":false,"ahead_count":0,"behind_count":0,"commit_at":1589480855,"ref":"09493e3834e5c0bf65fc0916182d9ed9850ed554","remote_ref":"09493e3834e5c0bf65fc0916182d9ed9850ed554","can":{}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/lookml_models
  response:
    body:
      string: '[{"explores":[{"description":null,"label":"Cohort Data Tool","hidden":true,"group_label":"1)
        eCommerce with Event Data","name":"cohorts","can":{}},{"description":null,"label":"Web
        Analytics Data Tool","hidden":true,"group_label":"1) eCommerce with Event
        Data","name":"data_tool","can":{}},{"description":null,"label":"(1) Orders,
        Items and Users","hidden":false,"group_label":"1) eCommerce with Event Data","name":"order_items","can":{}},{"description":null,"label":"(2)
        Web Event Data","hidden":false,"group_label":"1) eCommerce with Event Data","n[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/lookml_models/eye_exam/explores/users__fail_and_warn
  response:
    body:
      string: '{"id":"eye_exam::users__fail_and_warn","name":"users__fail_and_warn","description":null,"scopes":["users__fail_and_warn"],"can_total":true,"can_save":true,"can_explain":true,"can_pivot_in_db":true,"can_subtotal":true,"has_timezone_support":true,"supports_cost_estimate":false,"connection_name":"snowlooker","null_sort_treatment":"high","files":null,"source_file":"eye_exam.model.lkml","model_name":"eye_exam","view_name":"users__fail_and_warn","hidden":false,"sql_table_name":"users__fail_and_warn","access_filters":[],"aliases":[],"always_filter":[],"conditionally_filter":[],"index_fields":[],"sets":[{"name":"users__fail_and_warn","value":["users__fail_and_warn.id","users__fail_and_warn.age","users__fail_and_warn.city","users__fail_and_warn.email","users__fail_and_warn.first_name","users__fail_and_warn.last_name","users__fail_and_warn.count"]},{"name":"ALL_FIELDS","value":["users__fail_and_warn.id","users__fail_and_warn.age","users__fail_and_warn.city","users__fail_and_warn.email","users__fail_and_warn.first_name","users__fail_and_warn.last_name","users__fail_and_warn.count"]}],"tags":[],"errors":null,"fields":{"dimensions":[{"align":"right","can_filter":true,"category":"dimension","default_filter_value":null,"description":null,"enumerations":null,"field_group_label":null,"fill_style":null,"fiscal_month_offset":0,"has_allowed_values":false,"hidden":false,"is_filter":false,"is_numeric":true,"label":"Users
        Fail and Warn Age","label_from_parameter":null,"label_short":"Age","lookml_link":"/projects/eye_exam/files/views%2Fusers.view.lkml?line=12","map_layer":null,"name":"users__fail_and_warn.age","strict_value_format":false,"permanent":null,"requires_refresh_on_sort":false,"sortable":true,"suggestions":null,"tags":[],"type":"number","user_attribute_filter_types":["number","advanced_filter_number"],"value_format":null,"view":"users__fail_and_warn","view_label":"Users
        Fail and Warn","dynamic":false,"week_start_day":"monday","error":null,"field_group_variant":"Age","measure":false,"parameter":false,"primary_key":false,"project_name":"eye_exam","scope":"users__fail_and_warn","source_file":"views/users__fail_and_warn.view.lkml","source_file_path":"eye_exam/views/users__fail_and_warn.view.lkml","suggest_dimension":"users__fail_and_warn.age","suggest_explore":"users__fail_and_warn","suggestable":false,"is_fiscal":false,"is_timeframe":false,"can_time_filter":false,"time_interval":null,"sql":"--spectacles:
        ignore\n         ${TABLE}.\"AGE\" ","sql_case":null},{"align":"left","can_filter":true,"category":"dimension","default_filter_value":null,"description":null,"enumerations":null,"field_group_label":null,"fill_style":null,"fiscal_month_offset":0,"has_allowed_values":false,"hidden":false,"is_filter":false,"is_numeric":false,"label":"Users
        Fail and Warn City","label_from_parameter":null,"label_short":"City","lookml_link":"/projects/eye_exam/files/views%2Fusers.view.lkml?line=18","map_layer":null,"name":"users__fail_and_warn.city","strict[...]
- request:
    body: '{"model": "eye_exam", "view": "users__fail_and_warn", "fields": ["users__fail_and_warn.city",
      "users__fail_and_warn.email", "users__fail_and_warn.first_name", "users__fail_and_warn.id",
      "users__fail_and_warn.last_name"], "limit": 0, "filter_expression": "1=2"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://spectacles.looker.com:19999/api/3.1/queries
  response:
    body:
      string: '{"id":2036,"view":"users__fail_and_warn","fields":["users__fail_and_warn.city","users__fail_and_warn.email","users__fail_and_warn.first_name","users__fail_and_warn.id","users__fail_and_warn.last_name"],"pivots":null,"fill_fields":null,"filters":null,"filter_expression":"1=2","sorts":null,"limit":"0","column_limit":null,"total":null,"row_total":null,"subtotals":null,"vis_config":null,"filter_config":null,"visible_ui_sections":null,"slug":"CFgWZkr","dynamic_fields":null,"client_id":"J7QOMPcSPdJmcM2NiuCton","share_url":"https://spectacles.looker.com/x/J7QOMPcSPdJmcM2NiuCton","expanded_share_url":"https://spectacles.looker.com/explore/eye_exam/users__fail_and_warn?fields=users__fail_and_warn.city,users__fail_and_warn.email,users__fail_and_warn.first_name,users__fail_and_warn.id,users__fail_and_warn.last_name\u0026filter_expression=1%3D2\u0026limit=0\u0026origin=share-expanded","url":"/explore/eye_exam/users__fail_and_warn?fields=users__fail_and_warn.city,users__fail_and_warn.email,users__fail_and_warn.first_name,users__fail_and_warn.id,users__fail_and_warn.last_name\u0026filter_expression=1%3D2\u0026limit=0","query_timezone":null,"runtime":null,"has_table_calculations":false,"model":"eye_exam","can":{"run":true,"see_results":true,"explore":true,"create":true,"show":true,"cost_estimate":true,"index":true,"see_lookml":true,"see_aggregate_table_lookml":false,"see_derived_table_lookml":true,"see_sql":true,"generate_drill_links":true,"download":true,"download_unlimited":true,"schedule":true,"render":true}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"query_id": 2036, "result_format": "json_detail"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks?cache=false
  response:
    body:
      string: '{"query_id":2036,"query":{"id":2036,"view":"users__fail_and_warn","fields":["users__fail_and_warn.city","users__fail_and_warn.email","users__fail_and_warn.first_name","users__fail_and_warn.id","users__fail_and_warn.last_name"],"pivots":null,"fill_fields":null,"filters":null,"filter_expression":"1=2","sorts":null,"limit":"0","column_limit":null,"total":null,"row_total":null,"subtotals":null,"vis_config":null,"filter_config":null,"visible_ui_sections":null,"slug":"CFgWZkr","dynamic_fields":null,"client_id":"J7QOMPcSPdJmcM[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=6ebdbbda17bb4012f8393e654d43d280
  response:
    body:
      string: '{"6ebdbbda17bb4012f8393e654d43d280":{"status":"added"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=6ebdbbda17bb4012f8393e654d43d280
  response:
    body:
      string: '{"6ebdbbda17bb4012f8393e654d43d280":{"status":"error","result_source":"query","data":{"from_cache":true,"id":"6ebdbbda17bb4012f8393e654d43d280","supports_pivot_in_db":true,"null_sort_treatment":"high","expired":false,"ran_at":"2020-05-14T19:51:33+00:00","runtime":"0.656","added_params":{"sorts":["users__fail_and_warn.city"]},"sql":"WITH
        users__fail_and_warn AS (select * from\n         \"PUBLIC\".\"USERS\"\n        --
        if prod -- \"PUBLIC\".\"USERS\"\n        )\nSELECT\n\tusers__fail_and_warn.\"CITY\"  AS
        \"users__fail_and_warn.city\",\n\tusers__fail_and_warn.\"EMAIL_ADDRESS\"  AS
        \"users__fail_and_warn.email\",\n\tusers__fail_and_warn.\"FIRST_NAME\"  AS
        \"users__fail_and_warn.first_name\",\n\tusers__fail_and_warn.\"ID\"  AS \"users__fail_and_warn.id\",\n\tusers__fail_and_warn.\"LAST_NAME\"  AS
        \"users__fail_and_warn.last_name\"\nFROM users__fail_and_warn\n\nWHERE 1 =
        2\nORDER BY 1\nLIMIT 0","sql_explain":"EXPLAIN WITH users__fail_and_warn AS
        (select * from\n         \"PUBLIC\".\"USERS\"\n        -- if prod -- \"PUBLIC\".\"USERS\"\n        )\nSELECT
        \n\tusers__fail_and_warn.\"CITY\"  AS \"users__fail_and_warn.city\",\n\tusers__fail_and_warn.\"EMAIL_ADDRESS\"  AS
        \"users__fail_and_warn.email\",\n\tusers__fail_and_warn.\"FIRST_NAME\"  AS
        \"users__fail_and_warn.first_name\",\n\tusers__fail_and_warn.\"ID\"  AS \"users__fail_and_warn.id\",\n\tusers__fail_and_warn.\"LAST_NAME\"  AS
        \"users__fail_and_warn.last_name\"\nFROM users__fail_and_warn\n\nWHERE 1 =
        2\nORDER BY 1 \nLIMIT 0","fields":{"measures":[],"dimensions":[{"align":"left","can_filter":true,"category":"dimension","default_filter_value":null,"description":null,"enumerations":null,"field_group_label":null,"fill_style":null,"fiscal_month_offset":0,"has_allowed_values":false,"hidden":false,"is_filter":false,"is_numeric":false,"label":"Users
        Fail and Warn City","label_from_parameter":null,"label_short":"City","lookml_link":"/projects/eye_exam/files/views%2Fusers.view.lkml?line=18","map_layer":null,"name":"users__fail_and_warn.city","strict_value_format":false,"permanent":null,"requires_refresh_on_sort":false,"sortable":true,"suggestions":null,"tags":[],"type":"string","user_attribute_filter_types":["string","advanced_filter_string"],"value_format":null,"view":"users__fail_and_warn","view_label":"Users
        Fail and Warn","dynamic":false,"week_start_day":"monday","error":null,"field_group_variant":"City","measure":false,"parameter":false,"primary_key":false,"project_name":"eye_exam","scope":"users__fail_and_warn","source_file":"views/users__fail_and_warn.view.lkml","source_file_path":"eye_exam/views/users__fail_and_warn.view.lkml","suggest_dimension":"users__fail_and_warn.city","suggest_explore":"users__fail_and_warn","suggestable":true,"is_fiscal":false,"is_timeframe":false,"can_time_filter":false,"time_interval":null,"sql":null,"sql_case":null,"sorted":{"sort_index":0,"desc":false}},{"align":"left","can_filter":true,"category":"dimension","default_filter_value":null,"description":null,"enumerations":null,"field_group_label":null,"fill_style":null,"fiscal_month_offset":0,"has_allowed_values":false,"hidden":false,"is_filter":false,"is_numeric":false,"label":"Users
        Fail and Warn Email","label_from_parameter":null,"label_short":"Email","lookml_link":"/projects/eye_exam/files/views%2Fusers__fail.view.lkml?line=6","map_layer":null,"name":"users__fail_and_warn.emai[...]
[...]
- request:
    body: '{"query_id": 2047, "result_format": "json_detail"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks?cache=false
  response:
    body:
      string: '{"query_id":2047,"query":{"id":2047,"view":"users__fail_and_warn","fields":["users__fail_and_warn.city"],"pivots":null,"fill_fields":null,"filters":null,"filter_expression":"1=2","sorts":null,"limit":"0","column_limit":null,"total":null,"row_total":null,"subtotals":null,"vis_config":null,"filter_config":null,"visible_ui_sections":null,"slug":"5Tx3dX2","dynamic_fields":null,"client_id":"U54sjv1c3m16lQKyWmY0rh","share_url":"https://spectacles.looker.com/x/U54sjv1c3m16lQKyWmY0rh","expanded_share_url":"https://spectacles.looker.com/explore/eye_exam/users__fail_and_warn?fields=users__fail_and_warn.city\u0026filter_expression=1%3D2\u0026limit=0\u0026origin=share-expanded","url":"/explore/eye_exam/users__fail_and_warn?fields=users__fail_and_warn.city\u0026filter_expression=1%3D2\u0026limit=0","query_timezone":null,"runtime":null,"has_table_calculations":false,"model":"eye_exam","can":{"run":true,"see_results":true,"explore":true,"create":true,"show":true,"cost_estimate":true,"index":true,"see_lookml":true,"see_aggregate_table_lookml":false,"see_derived_table_lookml":true,"see_sql":true,"generate_drill_links":true,"download":true,"download_unlimited":true,"schedule":true,"render":true}},"generate_links":true,"force_production":false,"path_prefix":"/explore","cache":false,"server_table_calcs":true,"cache_only":false,"cache_key":null,"status":"added","source":"api","runtime":null,"rebuild_pdts":false,"result_source":null,"look_id":null,"dashboard_id":null,"result_format":"json_detail","id":"a2cc36135e77d5fa60a92e387c643f10","can":{"index":true,"show":true,"kill":true,"see_results":true}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=a2cc36135e77d5fa60a92e387c643f10%2C29b837682f5dbdc569cbaa00b58b17b5%2C01a94cef57c30cd017a9156ebbb56d47%2Ca8613f463e6ba1efce83fa9e75e1f565%2Cfc54cfb2c536c84c3726d4169b6e407f
  response:
    body:
      string: '{"01a94cef57c30cd017a9156ebbb56d47":{"status":"added"},"29b837682f5dbdc569cbaa00b58b17b5":{"status":"running"},"a2cc36135e77d5fa60a92e387c643f10":{"status":"running"},"a8613f463e6ba1efce83fa9e75e1f565":{"status":"added"},"fc54cfb2c536c84c3726d4169b6e407f":{"status":"added"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=a2cc36135e77d5fa60a92e387c643f10%2C29b837682f5dbdc569cbaa00b58b17b5%2C01a94cef57c30cd017a9156ebbb56d47%2Ca8613f463e6ba1efce83fa9e75e1f565%2Cfc54cfb2c536c84c3726d4169b6e407f
  response:
    body:
      string: '{"01a94cef57c30cd017a9156ebbb56d47":{"status":"running"},"29b837682f5dbdc569cbaa00b58b17b5":{"status":"expired","data":{"error":"Results
        have expired. Run the query again."}},"a2cc36135e77d5fa60a92e387c643f10":{"status":"error","result_source":"query","data":{"from_cache":true,"id":"a2cc36135e77d5fa60a92e387c643f10","truncated":true,"supports_pivot_in_db":true,"null_sort_treatment":"high","expired":false,"ran_at":"2020-05-14T19:51:35+00:00","runtime":"0.754","added_params":{"sorts":["users__fail_and_warn.city"]},"sql":"WITH
        users__fail_and_warn AS (select * from\n         \"PUBLIC\".\"USERS\"\n        --
        if prod -- \"PUBLIC\".\"USERS\"\n        )\nSELECT\n\tusers__fail_and_warn.\"CITY\"  AS
        \"users__fail_and_warn.city\"\nFROM users__fail_and_warn\n\nWHERE 1 = 2\nGROUP
        BY 1\nORDER BY 1\nL[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=29b837682f5dbdc569cbaa00b58b17b5%2C01a94cef57c30cd017a9156ebbb56d47%2Ca8613f463e6ba1efce83fa9e75e1f565%2Cfc54cfb2c536c84c3726d4169b6e407f
  response:
    body:
      string: '{"01a94cef57c30cd017a9156ebbb56d47":{"status":"error","result_source":"query","data":{"from_cache":true,"id":"01a94cef57c30cd017a9156ebbb56d47","truncated":true,"supports_pivot[...]
