interactions:
- request:
    body: '{"model": "eye_exam", "view": "users__fail", "fields": ["users__fail.city",
      "users__fail.email", "users__fail.first_name", "users__fail.id", "users__fail.last_name"],
      "limit": 0, "filter_expression": "1=2"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://spectacles.looker.com:19999/api/3.1/queries?fields=id%2Cshare_url
  response:
    body:
      string: '{"id":1944,"share_url":"https://spectacles.looker.com/x/qCJsoYAZ2Y22QZLbmD0Gvy"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/queries/1944/run/sql
  response:
    body:
      string: "SELECT\n    users__fail.\"CITY\"  AS \"users__fail.city\",\n    users__fail.\"EMAIL_ADDRESS\"
        \ AS \"users__fail.email\",\n    users__fail.\"FIRST_NAME\"  AS \"users__fail.first_name\",\n
        \   users__fail.\"ID\"  AS \"users__fail.id\",\n    users__fail.\"LAST_NAME\"
        \ AS \"users__fail.last_name\"\nFROM \"PUBLIC\".\"USERS\"\n   AS users__fail\nWHERE
        (1 = 2)\nORDER BY\n    1\nFETCH NEXT 0 ROWS ONLY"
    headers:
      Content-Type:
      - application/sql
    status:
      code: 200
      message: OK
version: 1
