interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/lookml_models
  response:
    body:
      string: '[{"explores":[{"description":null,"label":"Cohort Data Tool","hidden":true,"group_label":"1)
        eCommerce with Event Data","name":"cohorts","can":{}},{"description":null,"label":"Web
        Analytics Data Tool","hidden":true,"group_label":"1) eCommerce with Event
        Data","name":"data_tool","can":{}},{"description":null,"label":"(1) Orders,
        Items and Users","hidden":false,"group_label":"1) eCommerce with Event Data","name":"order_items","can":{}},{"description":null,"label":"(2)
        Web Event Data","hidden":false,"group_label":"1) eCommerce with Event Data","name":"events","can":{}},{"description":null,"label":"(3)
     [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/lookml_models/eye_exam/explores/users__fail
  response:
    body:
      string: '{"id":"eye_exam::users__fail","name":"users__fail","description":null,"scopes":["users__fail"],"can_total":true,"can_save":true,"can_explain":true,"can_pivot_in_db":true,"can_subtotal":true,"has_timezone_support":true,"supports_cost_estimate":false,"connection_name":"snowlooker","null_sort_treatment":"high","files":null,"source_file":"eye_exam.model.lkml","model_name":"eye_exam","view_name":"users__fail","hidden":false,"sql_table_name":"\"PUBLIC\".\"USERS\"\n     AS
        users__fail","access_filters":[],"aliases":[],"always_filter":[],"conditionally_filter":[],"index_fields":[],"sets":[{"name":"users__fail","value":["users__fail.id","users__fail.age","users__fail.city","users__fail.email","users__fail.first_name","users__fail.last_name","users__fail.count"]},{"name":"ALL_FIELDS","value":["users__fail.id","users__fail.age","users__fail.city","users__fail.email","users__fail.first_name","users__fail.last_name","users__fail.count"]}],"tags":[],"errors":null,"fields":{"dimensions":[{"align":"right","can_filter":true,"category":"dimension","default_filter_value":null,"description":null,"enumerations":null,"field_group_label":null,"fill_style":null,"fiscal_month_offset":0,"has_allowed_values":false,"hidden":false,"is_filter":false,"is_numeric":true,"label":"Users
        Fail Age","label_from_parameter":null,"label_short":"Age","lookml_link":"/projects/eye_exam/files/views%2Fusers.view.lkml?line=12","map_layer":null,"name":"users__fail.age","strict_value_format":false,"permanent":null,"requires_refresh_on_sort":false,"sortable":true,"suggestions":null,"tags":[],"type":"number","user_attribute_filter_types":["number","advanced_filter_number"],"value_format":null,"view":"users__fail","view_label":"Users
        Fail","dynamic":false,"week_start_day":"monday","error":null,"field_group_variant":"Age","measure":false,"parameter":false,"primary_key":false,"project_name":"eye_exam","scope":"users__fail","source_file":"views/users__fail.view.lkml","source_file_path":"eye_exam/views/users__fail.view.lkml","suggest_dimension":"users__fail.age","suggest_explore":"users__fail","suggestable":false,"is_fiscal":false,"is_timeframe":false,"can_time_filter":false,"time_interval":null,"sql":"--spectacles:
        ignore\n         ${TABLE}.\"AGE\" ","sql_case":null},{"align":"left","can_filter":true,"category":"dimension","default_filter_value":null,"description":null,"enumerations":null,"field_group_label":null,"fill_style":null,"fiscal_month_offset":0,"has_allowed_values":false,"hidden":false,"is_filter":false,"is_numeric":false,"label":"Users
        Fail City","label_from_parameter":null,"label_short":"City","lookml_link":"/projects/eye_exam/files/views%2Fusers.view.lkml?line=18","map_layer":null,"name":"users__fail.city","strict_value_format":fal[...]
- request:
    body: '{"model": "eye_exam", "view": "users__fail", "fields": ["users__fail.city",
      "users__fail.email", "users__fail.first_name", "users__fail.id", "users__fail.last_name"],
      "limit": 0, "filter_expression": "1=2"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://spectacles.looker.com:19999/api/3.1/queries
  response:
    body:
      string: '{"id":1944,"view":"users__fail","fields":["users__fail.city","users__fail.email","users__fail.first_name","users__fail.id","users__fail.last_name"],"pivots":null,"fill_fields":null,"filters":null,"filter_expression":"1=2","sorts":null,"limit":"0","column_limit":null,"total":null,"row_total":null,"subtotals":null,"vis_config":null,"filter_config":null,"visible_ui_sections":null,"slug":"XVMZ9YZ","dynamic_fields":null,"client_id":"qCJsoYAZ2Y22QZLbmD0Gvy","share_url":"https://spectacles.looker.com/x/qCJsoYAZ2Y22QZLbmD0Gvy","expanded_share_url":"https://spectacles.looker.com/explore/eye_exam/users__fail?fields=users__fail.city,users__fail.email,users__fail.first_name,users__fail.id,users__fail.last_name\u0026filter_expression=1%3D2\u0026limit=0\u0026origin=share-expanded","url":"/explore/eye_exam/users__fail?fields=users__fail.city,users__fail.email,users__fail.first_name,users__fail.id,users__fail.last_name\u0026filter_expression=1%3D2\u0026limit=0","query_timezone":null,"runtime":null,"has_table_calculations":false,"model":"eye_exam","can":{"run":true,"see_results":true,"explore":true,"create":true,"show":true,"cost_estimate":true,"index":true,"see_lookml":true,"see_aggregate_table_lookml":false,"see_derived_table_lookml":true,"see_sql":true,"generate_drill_links":true,"download":true,"download_unlimited":true,"schedule":true,"render":true}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"query_id": 1944, "result_format": "json_detail"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks?cache=false
  response:
    body:
      string: '{"query_id":1944,"query":{"id":1944,"view":"users__fail","fields":["users__fail.city","users__fail.email","users__fail.first_name","users__fail.id","users__fail.last_name"],"pivots":null,"fill_fields":null,"filters":null,"filter_expression":"1=2","sorts":null,"limit":"0","column_limit":null,"total":null,"row_total":null,"subtotals":null,"vis_config":null,"filter_config":null,"visible_ui_sections":null,"slug":"XVMZ9YZ","dynamic_fields":null,"client_id":"qCJsoYAZ2Y22QZLbmD0Gvy","share_url":"https://spectacles.looker.com/x/qCJsoYAZ2Y22QZLbmD0Gvy","expanded_share_url":"https://spectacles.looker.com/explore/eye_exam/users__fail?fields=users__fail.city,users__fail.email,users__fail.first_name,users__fail.id,users__fail.last_name\u0026filter_expression=1%3D2\u0026limit=0\u0026origin=share-expanded","url":"/explore/eye_exam/users__fail?fields=users__fail.city,users__fail.email,users__fail.first_name,users__fail.id,users__fail.last_name\u0026filter_expression=1%3D2\u0026limit=0","query_timezone":null,"runtime":null,"has_table_calculations":false,"model":"eye_exam","can":{"run":true,"see_results":true,"explore":true,"create":true,"show":true,"cost_estimate":true,"index":true,"see_lookml":true,"see_aggregate_table_lookml":false,"see_derived_table_lookml":true,"see_sql":true,"generate_drill_links":true,"download":true,"download_unlimited":true,"schedule":true,"render":true}},"generate_links":true,"force_production":false,"path_prefix":"/explore","cache":false,"server_table_calcs":true,"cache_only":false,"cache_key":null,"status":"added","source":"api","runtime":null,"rebuild_pdts":false,"result_source":null,"look_id":null,"dashboard_id":null,"result_format":"json_detail","id":"0bc11d5222cf98b98974a72fbdcc4c8e","can":{"index":true,"show":true,"kill":true,"see_results":true}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=0bc11d5222cf98b98974a72fbdcc4c8e
  response:
    body:
      string: '{"0bc11d5222cf98b98974a72fbdcc4c8e":{"status":"added"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=0bc11d5222cf98b98974a72fbdcc4c8e
  response:
    body:
      string: '{"0bc11d5222cf98b98974a72fbdcc4c8e":{"status":"error","result_source":"query","data":{"from_cache":true,"id":"0bc11d5222cf98b98974a72fbdcc4c8e","supports_pivot_in_db":true,"null_sort_treatment":"high","expired":false,"ran_at":"2020-05-13T23:41:39+00:00","runtime":"0.712","added_params":{"sorts":["users__fail.city"]},"sql":"SELECT\n\tusers__fail.\"CITY\"  AS
        \"users__fail.city\",\n\tusers__fail.\"EMAIL_ADDRESS\"  AS \"users__fail.email\",\n\tusers__fail.\"FIRST_NAME\"  AS
        \"users__fail.first_name\",\n\tusers__fail.\"ID\"  AS \"users__fail.id\",\n\tusers__fail.\"LAST_NAME\"  AS
        \"users__fail.last_name\"\nFROM \"PUBLIC\".\"USERS\"\n     AS users__fail\n\nWHERE
        1 = 2\nORDER BY 1\nLIMIT 0","sql_explain":"EXPLAIN SELECT \n\tusers__fail.\"CITY\"  AS
        \"users__fail.city\",\n\tusers__fail.\"EMAIL_ADDRESS\"  AS \"users__fail.email\",\n\tusers__fail.\"FIRST_NAME\"  AS
        \"users__fail.first_name\",\n\tusers__fail.\"ID\"  AS \"users__fail.id\",\n\tusers__fail.\"LAST_NAME\"  AS
        \"users__fail.last_name\"\nFROM \"PUBLIC\".\"USERS\"\n     AS users__fail\n\nWHERE
        1 = 2\nORDER BY 1 \nLIMIT 0","fields":{"measures":[],"dimensions":[{"align":"left","can_filter":true,"category":"dimension","default_filter_value":null,"description":null,"enumerations":null,"field_group_label":null,"fill_style":null,"fiscal_month_offset":0,"has_allowed_values":false,"hidden":false,"is_filter":false,"is_numeric":false,"label":"Users
        Fail City","label_from_parameter":null,"label_short":"City","lookml_link":"/projects/eye_exam/files/views%2Fusers.view.lkml?line=18","map_layer":null,"name":"users__fail.city","strict_value_format":false,"permanent":null,"requires_refresh_on_sort":false,"sortable":true,"suggestions":null,"tags":[],"type":"string","user_attribute_filter_types":["string","advanced_filter_string"],"value_format":null,"view":"users__fail","view_label":"Users
        Fail","dynamic":false,"week_start_day":"monday","error":null,"field_group_variant":"City","measure":false,"parameter":false,"primary_key":false,"project_name":"eye_exam","scope":"users__fail","source_file":"views/users__fail.view.lkml","source_file_path":"eye_exam/views/users__fail.view.lkml","suggest_dimension":"users__fail.city","suggest_explore":"users__fail","suggestable":true,"is_fiscal":false,"is_timeframe":false,"can_time_filter":false,"time_interval":null,"sql":null,"sql_case":null,"sorted":{"sort_index":0,"desc":false}},{"align":"left","can_filter":true,"category":"dimension","default_filter_value":null,"description":null,"enumerations":null,"field_group_label":null,"fill_style":null,"fiscal_month_offset":0,"has_allowed_values":false,"hidden":false,"is_filter":false,"is_numeric":false,"label":"Users
        Fail Email","label_from_parameter":null,"label_short":"Email","lookml_link":"/projects/eye_exam/files/views%2Fusers__fail.view.lkml?line=6","map_layer":null,"name":"users__fail.email","strict_value_f[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=ab699406a54824b3c2003895365ff955%2Cb79fedbac0a6bc63e12ae1e18f13cef8%2C1245e81f518cd3ae0b867f3b4003e0f0%2C29c906312047b06e7120d2dded533e02%2C58bba45611080057d1dbd162c8929f5c
  response:
    body:
      string: '{"1245e81f518cd3ae0b867f3b4003e0f0":{"status":"added"},"29c906312047b06e7120d2dded533e02":{"status":"added"},"58bba45611080057d1dbd162c8929f5c":{"status":"added"},"ab699406a54824b3c2003895365ff955":{"status":"running"},"b79fedbac0a6bc63e12ae1e18f13cef8":{"status":"running"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=ab699406a54824b3c2003895365ff955%2Cb79fedbac0a6bc63e12ae1e18f13cef8%2C1245e81f518cd3ae0b867f3b4003e0f0%2C29c906312047b06e7120d2dded533e02%2C58bba45611080057d1dbd162c8929f5c
  response:
    body:
      string: '{"1245e81f518cd3ae0b867f3b4003e0f0":{"status":"running"},"29c906312047b06e7120d2dded533e02":{"status":"running"},"58bba45611080057d1dbd162c8929f5c":{"status":"running"},"ab699406a54824b3c2003895365ff955":{"status":"complete","result_source":"query","data":{"from_cache":true,"id":"ab699406a54824b3c2003895365ff955","truncated":true,"supports_pivot_in_db":true,"null_sort_treatment":"high","expired":false,"ran_at":"2020-05-13T23:41:41+00:00","runtime":"0.802","added_params":{"sorts":["users__fail.city"]},"sql":"SELECT\n\tusers__fail.\"CITY\"  AS
        \"users__fail.city\"\nFROM \"PUBLIC\".\"USERS\"\n     AS users__fail\n\nWHERE
        1 = 2\nGROUP BY 1\nORDER BY 1\nLIMIT 0","sql_explain":"EXPLAIN SELECT \n\tusers__fail.\"CITY\"  AS
        \"users__fail.city\"\nFROM \"PUBLIC\".\"USERS\"\n     AS users__fail\n\nWHERE
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=1245e81f518cd3ae0b867f3b4003e0f0%2C29c906312047b06e7120d2dded533e02%2C58bba45611080057d1dbd162c8929f5c
  response:
    body:
      string: '{"1245e81f518cd3ae0b867f3b4003e0f0":{"status":"complete","result_source":"query","data":{"from_cache":true,"id":"1245e81f518cd3ae0b867f3b4003e0f0","truncated":true,"supports_pivot_in_db":true,"null_sort_treatmen[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/lookml_models?fields=name%2Cproject_name%2Cexplores
  response:
    body:
      string: '[{"name":"thelook","project_name":"welcome_to_looker","explores":[{"description":null,"label":"Cohort
        Data Tool","hidden":true,"group_label":"1) eCommerce with Event Data","name":"cohorts","can":{}},{"description":null,"label":"Web
        Analytics Data Tool","hidden":true,"group_label":"1) eC[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/lookml_models/eye_exam/explores/users__fail?fields=fields
  response:
    body:
      string: '{"fields":{"dimensions":[{"align":"right","can_filter":true,"category":"dimension","default_filter_value":null,"description":null,"enumerations":null,"field_group_label":null,"fill_style":null,"fiscal_month_offset":0,"has_allowed_values":false,"hidden":false,"is_filter":false,"is_numeric":true,"label":"Users
        Fail Age","label_from_parameter":null,"label_short":"Age","map_layer":null,"name":"users__fail.age","strict_value_format":false,"permanent":null,"requires_refresh_on_sort":false,"sortable":true,"suggestions":null,"tags":[],"type":"number","user_attribute_filter_types":["number","advanced_filter_number"],"value_format":null,"view":"users__fail","view_label":"Users
        Fail","dynamic":false,"week_start_day":"monday","dimension_group":null,"error":null,"field_group_variant":"Age","measure":false,"parameter":false,"primary_key":false,"project_name":"eye_exam","scope":"users__fail","suggest_dimension":"users__fail.age","suggest_explore":"users__fail","suggestable":false,"is_fiscal":false,"is_timeframe":false,"can_time_filter":false,"time_interval":null,"lookml_link":"/projects/eye_exam/files/views%2Fusers__fail.view.lkml?line=14","source_file":"views/users__fail.view.lkml","source_file_path":"eye_exam/views/users__fail.view.lkm[...]
- request:
    body: '{"model": "eye_exam", "view": "users__fail", "fields": ["users__fail.city",
      "users__fail.email", "users__fail.first_name", "users__fail.id", "users__fail.last_name",
      "users__fail.state"], "limit": 0, "filter_expression": "1=2"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://spectacles.looker.com:19999/api/3.1/queries?fields=id%2Cshare_url
  response:
    body:
      string: '{"id":5768,"share_url":"https://spectacles.looker.com/x/76uOPxxoFRGF4eokcTsiBg"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"query_id": 5768, "result_format": "json_detail"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks?fields=id&cache=false
  response:
    body:
      string: '{"id":"6a2729800c1084822fa9b1897e5640b0"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=6a2729800c1084822fa9b1897e5640b0
  response:
    body:
      string: '{"6a2729800c1084822fa9b1897e5640b0":{"status":"error","result_source":"query","data":{"from_cache":true,"id":"6a2729800c1084822fa9b1897e5640b0","supports_pivot_in_db":true,"null_sort_treatment":"high","expired":false,"ran_at":"2021-03-24T18:17:14+00:00","aggregate_table_used_info":null,"runtime":"0.650","added_params":{"sorts":["users__fail.city"]},"sql":"SELECT\n\tusers__fail.\"CITY\"  AS
        \"users__fail.city\",\n\tusers__fail.\"EMAIL_ADDRESS\"  AS \"users__fail.email\",\n\tusers__fail.\"FIRST_NAME\"  AS
        \"users__fail.first_name\",\n\tusers__fail.\"ID\"  AS \"users__fail.id\",\n\tusers__fail.\"LAST_NAME\"  AS
        \"users__fail.last_name\",\n\tusers__fail.\"STATE\"  AS \"users__fail.state\"\nFROM
        \"PUBLIC\".\"USERS\"\n   AS users__fail\n\nWHERE 1[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=3ab95174237c50cd26019426a0709389%2C644f2bde05b746be7cd9a7ad941fceed%2C4c4c3082b441f67603d6a0ecbde90627%2Cb3e87cc9dcd7b87f732582239c661fc4%2C04e982a80718ea0f44fa1d0ff6e54db8%2C8f143d6414ad0bf94cc97ecd079c8e05
  response:
    body:
      string: '{"04e982a80718ea0f44fa1d0ff6e54db8":{"status":"added"},"3ab95174237c50cd26019426a0709389":{"status":"compl[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=4c4c3082b441f67603d6a0ecbde90627%2Cb3e87cc9dcd7b87f732582239c661fc4%2C04e982a80718ea0f44fa1d0ff6e54db8%2C8f143d6414ad0bf94cc97ecd079c8e05
  response:
    body:
      string: '{"04e982a80718ea0f44fa1d0ff6e54db8":{"status":"complete","result_source":"query","data":{"from_cache":true,"id":"04e982a80718ea0f44fa1d0ff6e54db8","truncated":true,"supports_pi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=8f143d6414ad0bf94cc97ecd079c8e05
  response:
    body:
      string: '{"8f143d6414ad0bf94cc97ecd079c8e05":{"status":"complete","result_source":"query","data":{"from_cache":true,"id":"8f143d6414ad0bf94cc97ecd079c8e05","truncated":true,"supports_pivot_in_db":true,"null_sort_treatment":"high","expired":false,"ran_at":"2021-03-24T18:17:18+00:00","aggregate_table_used_info":null,"runtime":"0.682","added_params":{"sorts":["users__fail.state"]},"sql":"SELECT\n\tusers__fail.\"STATE\"  AS
        \"users__fail.state\"\nFROM \"PUBLIC\".\"USERS\"\n   AS users__fail\n\nWHERE
        1 = 2\nGROUP BY 1\nORDER BY 1\nLIMIT 0","sql_explain":"EXPLAIN SELECT \n\tusers__fail.\"STATE\"  AS
        \"users__fail.state\"\nFROM \"PUBLIC\".\"USERS\"\n   AS users__fail\n\nWHERE
        1 = 2\nGROUP BY 1\nORDER BY 1 \nLIMIT 0","fields":{"measures":[],"dimensions":[{"align":"left","can_filter":true,"category":"dimension","default_filter_value":null,"description":null,"enumerations":null,"field_group_label":null,"fill_style":null,"fiscal_month_offset":0,"has_allowed_values":false,"hidden":false,"is_filter":false,"is_numeric":false,"label":"Users
        Fail State","label_from_parameter":null,"label_short":"State","map_layer":{"url":"/data/us_states.topo-402e425f99.json","name":"us_states","feature_key":"usa","property_key":null,"property_label_key":null,"projection":"albersUsa","format":null,"extents_json_url":null,"max_zoom_level":null,"min_zoom_level":null},"name":"users__fail.state","strict_value_format":false,"permanent":null,"requires_refresh_on_sort":false,"sortable":true,"suggestions":null,"tags":[],"type":"string","user_attribute_filter_types":["string","advanced_filter_string"],"value_format":null,"view":"users__fail","view_label":"Users
        Fail","dynamic":false,"week_start_day":"monday","dimension_group":null,"error":null,"field_group_variant":"State","measure":false,"parameter":false,"primary_key":false,"project_name":"eye_exam","scope":"users__fail","suggest_dimension":"users__fail.state","suggest_explore":"users__fail","suggestable":true,"is_fiscal":false,"is_timeframe":false,"can_time_filter":false,"time_interval":null,"lookml_link":"/projects/eye_exam/files/views%2Fusers__fail.view.lkml?line=20","source_file":"views/users__fail.view.lkml","source_file_path":"eye_exam/views/users__fail.view.lkml","sql":"${TABLE}.\"STATE\"
        ","sql_case":null,"filters":null,"sorted":{"sort_index":0,"desc":false}}],"table_calculations":[],"pivots":[]},"fill_fields":[],"has_totals":false,"has_row_totals":false,"applied_filters":{},"applied_filter_expression":"1=2","number_format":"1,234.56","explore":{"name":"users__fail","label":"Users
        Fail","description":null},"timezone":"America/Los_Angeles","data":[],"drill_menu_build_time":0.051299,"has_subtotals":false}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
