interactions:
- request:
    body: '{"model": "eye_exam", "view": "users", "fields": [], "limit": 0, "filter_expression":
      "1=2"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://spectacles.looker.com:19999/api/3.1/queries?fields=
  response:
    body:
      string: '{"id":1945,"view":"users","fields":null,"pivots":null,"fill_fields":null,"filters":null,"filter_expression":"1=2","sorts":null,"limit":"0","column_limit":null,"total":null,"row_total":null,"subtotals":null,"vis_config":null,"filter_config":null,"visible_ui_sections":null,"slug":"64n322h","client_id":"DIXL8LS20QeCUNhDRkywY3","share_url":"https://spectacles.looker.com/x/DIXL8LS20QeCUNhDRkywY3","expanded_share_url":"https://spectacles.looker.com/explore/eye_exam/users?filter_expression=1%3D2\u0026limit=0\u0026origin=share-expanded","url":"/explore/eye_exam/users?filter_expression=1%3D2\u0026limit=0","runtime":null,"has_table_calculations":false,"model":"eye_exam","dynamic_fields":null,"query_timezone":null,"quick_calcs":null,"analysis_config":null,"can":{"run":true,"see_results":true,"explore":true,"create":true,"show":true,"cost_estimate":true,"index":true,"see_lookml":true,"see_aggregate_table_lookml":true,"see_derived_table_lookml":true,"see_sql":true,"save":true,"generate_drill_links":true,"download":true,"download_unlimited":true,"use_custom_fields":true,"edit_custom_fields":true,"edit_table_calculations":true,"schedule":true,"render":true}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
