interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://spectacles.looker.com:19999/api/3.1/login
  response:
    content: '{"access_token": "<Access token filtered from cassette>", "token_type":
      "Bearer", "expires_in": 3600}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/versions
  response:
    content: '{"looker_release_version":"22.8.32","current_version":{"version":"4.0","full_version":"4.0.22.8","status":"current","swagger_url":"https://spectacles.looker.com/api/4.0/swagger.json"},"supported_versions":[{"version":"2.99","full_version":"2.99.0","status":"internal_test","swagger_url":"https://spectacles.looker.com/api/2.99/swagger.json"},{"version":"3.0","full_version":"3.0.0","status":"legacy","swagger_url":"https://spectacles.looker.com/api/3.0/swagger.json"},{"version":"3.1","full_version":"3.1.0","status":"legacy","swagger_url":"https://spectacles.looker.com/api/3.1/swagger.json"},{"version":"4.0","full_version":"4.0.22.8","status":"current","swagger_url":"https://spectacles.looker.com/api/4.0/swagger.json"}],"api_server_url":"https://spectacles.looker.com","web_server_url":"https://spectacles.looker.com"}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: '{"workspace_id": "production"}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://spectacles.looker.com:19999/api/3.1/session
  response:
    content: '{"workspace_id":"production","sudo_user_id":null,"can":{"view":true,"update":true}}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
version: 1
