interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/spectacles-ci/eye-exam
  response:
    body:
      string: '{"id":231133313,"node_id":"MDEwOlJlcG9zaXRvcnkyMzExMzMzMTM=","name":"eye-exam","full_name":"spectacles-ci/eye-exam","private":true,"owner":{"login":"spectacles-ci","id":56096720,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU2MDk2NzIw","avatar_url":"https://avatars.githubusercontent.com/u/56096720?v=4","gravatar_id":"","url":"https://api.github.com/users/spectacles-ci","html_url":"https://github.com/spectacles-ci","followers_url":"https://api.github.com/users/spectacles-ci/followers","following_url":"https://api.github.com/users/spectacles-ci/following{/other_user}","gists_url":"https://api.github.com/users/spectacles-ci/gists{/gist_id}","starred_url":"https://api.github.com/users/spectacles-ci/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/spectacles-ci/subscriptions","organizations_url":"https://api.github.com/users/spectacles-ci/orgs","repos_url":"https://api.github.com/users/spectacles-ci/repos","events_url":"https://api.github.com/users/spectacles-ci/events{/privacy}","received_events_url":"https://api.github.com/users/spectacles-ci/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/spectacles-ci/eye-exam","description":"Looker
        project for benchmarking and testing","fork":false,"url":"https://api.github.com/repos/spectacles-ci/eye-exam","forks_url":"https://api.github.com/repos/spectacles-ci/eye-exam/forks","keys_url":"https://api.github.com/repos/spectacles-ci/eye-exam/keys{/key_id}","collaborators_url":"https://api.github.com/repos/spectacles-ci/eye-exam/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/spectacles-ci/eye-exam/teams","hooks_url":"https://api.github.com/repos/spectacles-ci/eye-exam/hooks","issue_events_url":"https://api.github.com/repos/spectacles-ci/eye-exam/issues/events{/number}","events_url":"https://api.github.com/repos/spectacles-ci/eye-exam/events","assignees_url":"https://api.github.com/repos/spectacles-ci/eye-exam/assignees{/user}","branches_url":"https://api.github.com/repos/spectacles-ci/eye-exam/branches{/branch}","tags_url":"https://api.github.com/repos/spectacles-ci/eye-exam/tags","blobs_url":"https://api.github.com/repos/spectacles-ci/eye-exam/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/spectacles-ci/eye-exam/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/spectacles-ci/eye-exam/git/refs{/sha}","trees_url":"https://api.github.com/repos/spectacles-ci/eye-exam/git/trees{/sha}","statuses_url":"https://api.github.com/repos/spectacles-ci/eye-exam/statuses/{sha}","languages_url":"https://api.github.com/repos/spectacles-ci/eye-exam/languages","stargazers_url":"https://api.github.com/repos/spectacles-ci/eye-exam/stargazers","contributors_url":"https://api.github.com/repos/spectacles-ci/eye-exam/contributors","subscribers_url":"https://api.github.com/repos/spectacles-ci/eye-exam/subscribers","subscription_url":"https://api.github.com/repos/spectacles-ci/eye-exam/subscription","commits_url":"https://api.github.com/repos/spectacles-ci/eye-exam/commits{/sha}","git_commits_url":"https://api.github.com/repos/spectacles-ci/eye-exam/git/commits{/sha}","comments_url":"https://api.github.com/repos/spectacles-ci/eye-exam/comments{/number}","issue_comment_url":"https://api.github.com/repos/spectacles-ci/eye-exam/issues/comments{/number}","contents_url":"https://api.github.com/repos/spectacles-ci/eye-exam/contents/{+path}","compare_url":"https://api.github.com/repos/spectacles-ci/eye-exam/compare/{base}...{head}","merges_url":"https://api.github.com/repos/spectacles-ci/eye-exam/merges","archive_url":"https://api.github.com/repos/spectacles-ci/eye-exam/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/spectacles-ci/eye-exam/downloads","issues_url":"https://api.github.com/repos/spectacles-ci/eye-exam/issues{/number}","pulls_url":"https://api.github.com/repos/spectacles-ci/eye-exam/pulls{/number}","milestones_url":"https://api.github.com/repos/spectacles-ci/eye-exam/milestones{/number}","notifications_url":"https://api.github.com/repos/spectacles-ci/eye-exam/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/spectacles-ci/eye-exam/labels{/name}","releases_url":"https://api.github.com/repos/spectacles-ci/eye-exam/releases{/id}","deployments_url":"https://api.github.com/repos/spectacles-ci/eye-exam/deployments","created_at":"2019-12-31T18:38:47Z","updated_at":"2022-03-09T13:17:20Z","pushed_at":"2022-06-16T20:24:47Z","git_url":"git://github.com/spectacles-ci/eye-exam.git","ssh_url":"git@github.com:spectacles-ci/eye-exam.git","clone_url":"https://github.com/spectacles-ci/eye-exam.git","svn_url":"https://github.com/spectacles-ci/eye-exam","homepage":null,"size":38,"stargazers_count":0,"watchers_count":0,"language":"LookML","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":3,"license":null,"allow_forking":false,"is_template":false,"topics":[],"visibility":"private","forks":0,"open_issues":3,"watchers":0,"default_branch":"master","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"temp_clone_token":"ACCFHK2Z2HICUOKRAXS2N7TCVOJMU","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"organization":{"login":"spectacles-ci","id":56096720,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU2MDk2NzIw","avatar_url":"https://avatars.githubusercontent.com/u/56096720?v=4","gravatar_id":"","url":"https://api.github.com/users/spectacles-ci","html_url":"https://github.com/spectacles-ci","followers_url":"https://api.github.com/users/spectacles-ci/followers","following_url":"https://api.github.com/users/spectacles-ci/following{/other_user}","gists_url":"https://api.github.com/users/spectacles-ci/gists{/gist_id}","starred_url":"https://api.github.com/users/spectacles-ci/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/spectacles-ci/subscriptions","organizations_url":"https://api.github.com/users/spectacles-ci/orgs","repos_url":"https://api.github.com/users/spectacles-ci/repos","events_url":"https://api.github.com/users/spectacles-ci/events{/privacy}","received_events_url":"https://api.github.com/users/spectacles-ci/received_events","type":"Organization","site_admin":false},"network_count":0,"subscribers_count":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"ec83e41f611d8189f4e2dca828bb4e38f0ac44888e575b26f206bbbe6c0d8bb8"
      Last-Modified:
      - Wed, 09 Mar 2022 13:17:20 GMT
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4928'
      X-RateLimit-Reset:
      - '1655413239'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '72'
      github-authentication-token-expiration:
      - 2022-09-14 16:54:58 UTC
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/spectacles-ci/eye-exam/branches/master
  response:
    body:
      string: '{"name":"master","commit":{"sha":"785a58bed86f4891f3b63de17f33ec8fab0ffdad","node_id":"C_kwDODcbQgdoAKDc4NWE1OGJlZDg2ZjQ4OTFmM2I2M2RlMTdmMzNlYzhmYWIwZmZkYWQ","commit":{"author":{"name":"Dylan
        Baker","email":"dylan@dbanalytics.co","date":"2022-06-06T10:11:15Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2022-06-06T10:11:15Z"},"message":"Merge
        pull request #60 from spectacles-ci/feature/updating-manifest\n\nupdate local
        dependency","tree":{"sha":"31953355ddfa52dcdf0545a8e2bff191577bced3","url":"https://api.github.com/repos/spectacles-ci/eye-exam/git/trees/31953355ddfa52dcdf0545a8e2bff191577bced3"},"url":"https://api.github.com/repos/spectacles-ci/eye-exam/git/commits/785a58bed86f4891f3b63de17f33ec8fab0ffdad","comment_count":0,"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
        PGP SIGNATURE-----\n\nwsBcBAABCAAQBQJindLDCRBK7hj4Ov3rIwAAOAUIAIuq0sk8yK+eCWFlgdgynqPw\nvJOEf4y9MyKsoaiE8iuvUi3tmaTLeM0HPFbcvSTJJUezvtYRScPt4U+XDu9E5jtG\nRNdeQObrCZ5RzW69XpGDPTc8o3CbQp0HCM16EP+jC4EGTwTj1foV6idvRX0A3DGC\nIuvudLfqfDIuHtz1H8SWthKUtEpz56/I5FvdbU4dQ61olVXXUFRfTjexBoDQCCAm\nm1HG0MKV+/ET/BAdSWytvZI78ny7ttBmPmHA3D7IiBFdPY8ZfmOHtQqsyOwp/ZOX\nvUL3WBPFTHCftDiEugEq3IJBjdiEpw6r9pSlmslxlFLyYD/W8oTe+Jvm6LBxbp0=\n=7xfm\n-----END
        PGP SIGNATURE-----\n","payload":"tree 31953355ddfa52dcdf0545a8e2bff191577bced3\nparent
        ac09331ab9debec843b819a29bf2a10dab01e5cb\nparent 10c091f271f711cb22ec5eff1135954090d03a51\nauthor
        Dylan Baker <dylan@dbanalytics.co> 1654510275 +0100\ncommitter GitHub <noreply@github.com>
        1654510275 +0100\n\nMerge pull request #60 from spectacles-ci/feature/updating-manifest\n\nupdate
        local dependency"}},"url":"https://api.github.com/repos/spectacles-ci/eye-exam/commits/785a58bed86f4891f3b63de17f33ec8fab0ffda[...]
- request:
    body: '{"ref": "refs/heads/pytest-tmp", "sha": "785a58bed86f4891f3b63de17f33ec8fab0ffdad"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/spectacles-ci/eye-exam/git/refs
  response:
    body:
      string: '{"ref":"refs/heads/pytest-tmp","node_id":"MDM6UmVmMjMxMTMzMzEzOnJlZnMvaGVhZHMvcHl0ZXN0LXRtcA==","url":"https://api.github.com/repos/spectacles-ci/eye-exam/git/refs/heads/pytest-tmp","object":{"sha":"785a58bed86f4891f3b63de17f33ec8fab0ffdad","type":"commit","url":"https://api.github.com/repos/spectacles-ci/eye-exam/git/commits/785a58bed86f4891f3b63de17f33ec8fab0ffdad"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"983e933587076b222727f4c687017eaeafb1ef151151d2e2f9736193aef4294b"'
      Location:
      - https://api.github.com/repos/spectacles-ci/eye-exam/git/refs/heads/pytest-tmp
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4926'
      X-RateLimit-Reset:
      - '1655413239'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '74'
      github-authentication-token-expiration:
      - 2022-09-14 16:54:58 UTC
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/spectacles-ci/eye-exam/git/refs/heads/pytest-tmp
  response:
    body:
      string: '{"ref":"refs/heads/pytest-tmp","node_id":"MDM6UmVmMjMxMTMzMzEzOnJlZnMvaGVhZHMvcHl0ZXN0LXRtcA==","url":"https://api.github.com/repos/spectacles-ci/eye-exam/git/refs/heads/pytest-tmp","object":{"sha":"f6733093ab97104778a0162ce90cf44bca384e72","type":"commit","url":"https://api.github.com/repos/spectacles-ci/eye-exam/git/commits/f6733093ab97104778a0162ce90cf44bca384e72"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8f3fd2212b0559dcc7315cd48df5d4e11ce46eb5c461017aff767404565adcb8"
      Last-Modified:
      - Thu, 16 Jun 2022 20:25:29 GMT
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - repo
      X-Poll-Interval:
      - '300'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4923'
      X-RateLimit-Reset:
      - '1655413239'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '77'
      github-authentication-token-expiration:
      - 2022-09-14 16:54:58 UTC
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.github.com/repos/spectacles-ci/eye-exam/git/refs/heads/pytest-tmp
  response:
    body:
      string: ''
    headers:
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4922'
      X-RateLimit-Reset:
      - '1655413239'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '78'
      github-authentication-token-expiration:
      - 2022-09-14 16:54:58 UTC
    status:
      code: 204
      message: No Content
version: 1
