interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/spectacles-ci/eye-exam
  response:
    body:
      string: '{"id":231133313,"node_id":"MDEwOlJlcG9zaXRvcnkyMzExMzMzMTM=","name":"eye-exam","full_name":"spectacles-ci/eye-exam","private":true,"owner":{"login":"spectacles-ci","id":56096720,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU2MDk2NzIw","avatar_url":"https://avatars.githubusercontent.com/u/56096720?v=4","gravatar_id":"","url":"https://api.github.com/users/spectacles-ci","html_url":"https://github.com/spectacles-ci","followers_url":"https://api.github.com/users/spectacles-ci/followers","following_url":"https://api.github.com/users/spectacles-ci/following{/other_user}","gists_url":"https://api.github.com/users/spectacles-ci/gists{/gist_id}","starred_url":"https://api.github.com/users/spectacles-ci/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/spectacles-ci/subscriptions","organizations_url":"https://api.github.com/users/spectacles-ci/orgs","repos_url":"https://api.github.com/users/spectacles-ci/repos","events_url":"https://api.github.com/users/spectacles-ci/events{/privacy}","received_events_url":"https://api.github.com/users/spectacles-ci/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/spectacles-ci/eye-exam","description":"Looker
        project for benchmarking and testing","fork":false,"url":"https://api.github.com/repos/spectacles-ci/eye-exam","forks_url":"https://api.github.com/repos/spectacles-ci/eye-exam/forks","keys_url":"https://api.github.com/repos/spectacles-ci/eye-exam/keys{/key_id}","collaborators_url":"https://api.github.com/repos/spectacles-ci/eye-exam/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/spectacles-ci/eye-exam/teams","hooks_url":"https://api.github.com/repos/spectacles-ci/eye-exam/hooks","issue_events_url":"https://api.github.com/repos/spectacles-ci/eye-exam/issues/events{/number}","events_url":"https://api.github.com/repos/spectacles-ci/eye-exam/events","assignees_url":"https://api.github.com/repos/spectacles-ci/eye-exam/assignees{/user}","branches_url":"https://api.github.com/repos/spectacles-ci/eye-exam/branches{/branch}","tags_url":"https://api.github.com/repos/spectacles-ci/eye-exam/tags","blobs_url":"https://api.github.com/repos/spectacles-ci/eye-exam/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/spectacles-ci/eye-exam/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/spectacles-ci/eye-exam/git/refs{/sha}","trees_url":"https://api.github.com/repos/spectacles-ci/eye-exam/git/trees{/sha}","statuses_url":"https://api.github.com/repos/spectacles-ci/eye-exam/statuses/{sha}","languages_url":"https://api.github.com/repos/spectacles-ci/eye-exam/languages","stargazers_url":"https://api.github.com/repos/spectacles-ci/eye-exam/stargazers","contributors_url":"https://api.github.com/repos/spectacles-ci/eye-exam/contributors","subscribers_url":"https://api.github.com/repos/spectacles-ci/eye-exam/subscribers","subscription_url":"https://api.github.com/repos/spectacles-ci/eye-exam/subscription","commits_url":"https://api.github.com/repos/spectacles-ci/eye-exam/commits{/sha}","git_commits_url":"https://api.github.com/repos/spectacles-ci/eye-exam/git/commits{/sha}","comments_url":"https://api.github.com/repos/spectacles-ci/eye-exam/comments{/number}","issue_comment_url":"https://api.github.com/repos/spectacles-ci/eye-exam/issues/comments{/number}","contents_url":"https://api.github.com/repos/spectacles-ci/eye-exam/contents/{+path}","compare_url":"https://api.github.com/repos/spectacles-ci/eye-exam/compare/{base}...{head}","merges_url":"https://api.github.com/repos/spectacles-ci/eye-exam/merges","archive_url":"https://api.github.com/repos/spectacles-ci/eye-exam/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/spectacles-ci/eye-exam/downloads","issues_url":"https://api.github.com/repos/spectacles-ci/eye-exam/issues{/number}","pulls_url":"https://api.github.com/repos/spectacles-ci/eye-exam/pulls{/number}","milestones_url":"https://api.github.com/repos/spectacles-ci/eye-exam/milestones{/number}","notifications_url":"https://api.github.com/repos/spectacles-ci/eye-exam/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/spectacles-ci/eye-exam/labels{/name}","releases_url":"https://api.github.com/repos/spectacles-ci/eye-exam/releases{/id}","deployments_url":"https://api.github.com/repos/spectacles-ci/eye-exam/deployments","created_at":"2019-12-31T18:38:47Z","updated_at":"2021-03-24T18:34:21Z","pushed_at":"2021-03-24T18:58:05Z","git_url":"git://github.com/spectacles-ci/eye-exam.git","ssh_url":"git@github.com:spectacles-ci/eye-exam.git","clone_url":"https://github.com/spectacles-ci/eye-exam.git","svn_url":"https://github.com/spectacles-ci/eye-exam","homepage":null,"size":36,"stargazers_count":0,"watchers_count":0,"language":"LookML","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":15,"license":null,"forks":0,"open_issues":15,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"temp_clone_token":"ACCFHK3UGJ466AMV2OWHDTDALOGQQ","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"delete_branch_on_merge":false,"organization":{"login":"spectacles-ci","id":56096720,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU2MDk2NzIw","avatar_url":"https://avatars.githubusercontent.com/u/56096720?v=4","gravatar_id":"","url":"https://api.github.com/users/spectacles-ci","html_url":"https://github.com/spectacles-ci","followers_url":"https://api.github.com/users/spectacles-ci/followers","following_url":"https://api.github.com/users/spectacles-ci/following{/other_user}","gists_url":"https://api.github.com/users/spectacles-ci/gists{/gist_id}","starred_url":"https://api.github.com/users/spectacles-ci/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/spectacles-ci/subscriptions","organizations_url":"https://api.github.com/users/spectacles-ci/orgs","repos_url":"https://api.github.com/users/spectacles-ci/repos","events_url":"https://api.github.com/users/spectacles-ci/events{/privacy}","received_events_url":"https://api.github.com/users/spectacles-ci/received_events","type":"Organization","site_admin":false},"network_count":0,"subscribers_count":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"3ee7b66976ed50aa20604a0aa09f0010c831881e4cd0a031260ed6de14314acd"
      Last-Modified:
      - Wed, 24 Mar 2021 18:34:21 GMT
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4930'
      X-RateLimit-Reset:
      - '1616614445'
      X-RateLimit-Used:
      - '70'
    status:
      code: 200
      message: OK
version: 1
