interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://spectacles.looker.com:19999/api/3.1/login
  response:
    body:
      string: '{"access_token":"BrBWFhsfXkJbtbZJyqsvGP54nYSJtX5byJ4n4Ngz","token_type":"Bearer","expires_in":3600}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/versions
  response:
    body:
      string: '{"looker_release_version":"7.6.17","current_version":{"version":"3.1","full_version":"3.1.0","status":"current","swagger_url":"https://spectacles.looker.com:19999/api/3.1/swagger.json"},"supported_versions":[{"version":"2.99","full_version":"2.99.0","status":"internal_test","swagger_url":"https://spectacles.looker.com:19999/api/2.99/swagger.json"},{"version":"3.0","full_version":"3.0.0","status":"legacy","swagger_url":"https://spectacles.looker.com:19999/api/3.0/swagger.json"},{"version":"3.1","full_version":"3.1.0","status":"current","swagger_url":"https://spectacles.looker.com:19999/api/3.1/swagger.json"},{"version":"4.0","full_version":"4.0.7.6","status":"experimental","swagger_url":"https://spectacles.looker.com:19999/api/4.0/swagger.json"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"workspace_id": "dev"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://spectacles.looker.com:19999/api/3.1/session
  response:
    body:
      string: '{"workspace_id":"dev","sudo_user_id":null,"can":{"view":true,"update":true}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "pytest"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://spectacles.looker.com:19999/api/3.1/projects/eye_exam/git_branch
  response:
    body:
      string: '{"name":"pytest","remote":"origin","remote_name":"pytest","error":null,"message":null,"owner_name":null,"readonly":false,"personal":false,"is_local":true,"is_remote":true,"is_production":false,"ahead_count":0,"behind_count":0,"commit_at":1588340597,"ref":"176721285e47e0adac1b3ff55a26ca0346d5bfc7","remote_ref":"176721285e47e0adac1b3ff55a26ca0346d5bfc7","can":{}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/projects/eye_exam/manifest
  response:
    body:
      string: '{"message":"An error has occurred.","documentation_url":"http://docs.looker.com/"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 500
      message: Internal Server Error
[...]
