interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://spectacles.looker.com:19999/api/3.1/login
  response:
    body:
      string: '{"access_token": "", "token_type": "Bearer", "expires_in": 3600}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/versions
  response:
    body:
      string: '{"looker_release_version": "7.6.17", "current_version": {"version":
        "3.1", "full_version": "3.1.0", "status": "current", "swagger_url": "https://spectacles.looker.com:19999/api/3.1/swagger.json"},
        "supported_versions": [{"version": "2.99", "full_version": "2.99.0", "status":
        "internal_test", "swagger_url": "https://spectacles.looker.com:19999/api/2.99/swagger.json"},
        {"version": "3.0", "full_version": "3.0.0", "status": "legacy", "swagger_url":
        "https://spectacles.looker.com:19999/api/3.0/swagger.json"}, {"version": "3.1",
        "full_version": "3.1.0", "status": "current", "swagger_url": "https://spectacles.looker.com:19999/api/3.1/swagger.json"},
        {"version": "4.0", "full_version": "4.0.7.6", "status": "experimental", "swagger_url":
        "https://spectacles.looker.com:19999/api/4.0/swagger.json"}], "access_token":
        ""}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
