interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/folders
  response:
    body:
      string: '[{"name":"Shared","parent_id":null,"id":1,"content_metadata_id":1,"created_at":"2019-11-16T02:18:31.829+00:00","creator_id":null,"child_count":1,"external_id":null,"is_embed":false,"is_embed_shared_root":false,"is_embed_users_root":false,"is_personal":false,"is_personal_descendant":false,"is_shared_root":true,"is_users_root":false,"can":{"index":true,"show":true,"create":true,"see_admin_spaces":true,"update":false,"destroy":false,"move_content":true,"edit_content":true}},{"name":"Users","parent_id":null,"id":2,"content_metadata_id":2,"created_at":"2019-11-16T02:18:31.832+00:00","creator_id":null,"child_count":7,"external_id":null,"is_embed":false,"is_embed_shared_root":false,"is_embed_users_root":false,"is_personal":false,"is_personal_descendant":false,"is_shared_root":false,"is_users_root":true,"can":{"index":true,"show":true,"create":true,"see_admin_spaces":true,"update":false,"destroy":false,"move_content":true,"edit_content":true}},{"name":"pytest","p[...]
[...]
