interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/lookml_models
  response:
    body:
      string: '[{"explores":[{"description":null,"label":"Cohort Data Tool","hidden":true,"group_label":"1)
        eCommerce with Event Data","name":"cohorts","can":{}},{"description":null,"label":"Web
        Analytics Data Tool","hidden":true,"group_label":"1) eCommerce with Event
        Data","name":"data_tool","can":{}},{"description":null,"label":"(1) Orders,
        Items and Users","hidden":false,"group_label":"1) eCommerce with Event Data","name":"order_items","can":{}},{"description":null,"label":"(2)
        Web Event Data","hidden":false,"group_label":"1) eCommerce with Event Data","name":"events","can":{}},{"description":null,"label":"(3)
     [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/content_validation
  response:
    body:
      string: '{"content_with_errors":[{"look":null,"dashboard":{"description":"","id":1,"title":"Business
        Pulse","space":{"name":"Shared","id":1},"folder":{"name":"Shared","id":1}},"dashboard_element":{"body_text":null,"dashboard_id":1,"id":2,"look_id":null,"note_display":"below","note_state":"collapsed","note_text":"","note_text_as_html":"","query_id":null,"subtitle_text":null,"title":"Average
        Order Sale Price","title_hidden":false,"title_text":null,"type":"vis"},"dashboard_filter":null,"scheduled_plan":null,"errors":[{"message":"Unknown
        field \"orders.average_profit\".","field_name":"orders.average_profit","model_name":"thelook","explore_name":"order_items","removable":true}],"id":0},{"look":null,"dashboard":{"description":"","id":1,"title":"Business
        Pulse","space":{"name":"Shared","id":1},"folder":{"name":"Shared","id":1}},"dashboard_element":{"body_text":null,"dashboard_id":1,"id":12,"look_id":null,"note_display":"hover","note_state":"collapsed","note_text":"What
        percent of orders are followed by a repeat purchase by the same user within
        30 days?","note_text_as_html":"What percent of orders are followed by a repeat
        purchase by[...]
[...]
