interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/lookml_models?fields=name%2Cproject_name%2Cexplores
  response:
    content: '[{"name":"jaffle_shop","project_name":"jaffle_shop","explores":[{"description":null,"label":"Orders","hidden":false,"group_label":"Jaffle
      Shop","name":"fct_orders","can":{}}]},{"name":"admin","project_name":"jaffle_shop","explores":[]},{"name":"eye_exam","project_name":"eye_exam","explores":[{"description":null,"label":"Users","hidden":false,"group_label":"Eye
      Exam","name":"users","can":{}},{"description":null,"label":"Users Fail","hidden":false,"group_label":"Eye
      Exam","name":"users__fail","can":{}},{"description":null,"label":"Users Fail
      and Warn","hidden":false,"group_label":"Eye Exam","name":"users__fail_and_warn","can":{}},{"description":n[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/lookml_models/eye_exam/explores/users__fail?fields=fields
  response:
    content: '{"fields":{"dimensions":[{"align":"right","can_filter":true,"category":"dimension","default_filter_value":null,"description":null,"enumerations":null,"field_group_label":null,"fill_style":null,"fiscal_month_offset":0,"has_allowed_values":false,"hidden":false,"is_filter":false,"is_numeric":true,"label":"Users
      Fail Age","label_from_parameter":null,"label_short":"Age","map_layer":null,"name":"users__fail.age","strict_value_format":false,"requires_refresh_on_sort":false,"sortable":true,"suggestions":null,"tags":[],"type":"number","user_attribute_filter_types":["number","advanced_filter_number"],"value_format":null,"view":"users__fail","view_label":"Users
      Fail","dynamic":false,"week_start_day":"monday","dimension_group":null,"error":null,"field_group_variant":"Age","measure":false,"parameter":false,"primary_key":false,"project_name":"eye_exam","scope":"users__fail","suggest_dimension":"users__fail.age","suggest_explore":"users__fail","suggestable":false,"is_fiscal":false,"is_timeframe":false,"can_time_filter":false,"time_interval":null,"lookml_link":"/projects/eye_exam/files/views%2Fusers__fail.view.lkml?line=14","permanent":null,"source_file":"views/users__fail.view.lkml","source_file_path":"eye_exam/views/users__fail.view.lkml","sql":"--spectacles:
      ignore\n      ${TABLE}.age ","sql_case":null,"filters":null},{"align":"left","can_filter":true,"category":"dimension","default_filter_value":null,"description":null,"enumerations":null,"field_group_label":null,"fill_style":null,"fiscal_month_offset":0,"has_allowed_values":false,"hidden":false,"is_filter":false,"is_numeric":false,"label":"Users
      Fail City","label_from_parameter":null,"label_short":"City","map_layer":null,"name":"users__fail.city","strict_value_format":false,"requires_refresh_on_sort":false,"sortable":true,"suggestions":null,"tag[...]
- request:
    body: '{"model": "eye_exam", "view": "users__fail", "fields": ["users__fail.city",
      "users__fail.email", "users__fail.first_name", "users__fail.id", "users__fail.last_name"],
      "limit": 0, "filter_expression": "1=2"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://spectacles.looker.com:19999/api/3.1/queries?fields=id%2Cshare_url
  response:
    content: '{"id":1944,"share_url":"https://spectacles.looker.com/x/qCJsoYAZ2Y22QZLbmD0Gvy"}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: '{"query_id": 1944, "result_format": "json_detail"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks?fields=id&cache=false
  response:
    content: '{"id":"be74000bd08bf295c075586eb60f8f2f"}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=be74000bd08bf295c075586eb60f8f2f
  response:
    content: '{"be74000bd08bf295c075586eb60f8f2f":{"status":"running"}}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=be74000bd08bf295c075586eb60f8f2f
  response:
    content: '{"be74000bd08bf295c075586eb60f8f2f":{"status":"error","result_source":"query","data":{"from_cache":true,"id":"be74000bd08bf295c075586eb60f8f2f","supports_pivot_in_db":true,"null_sort_treatment":"low","expired":false,"ran_at":"2022-06-16T00:10:09+00:00","aggregate_table_used_info":null,"runtime":"0.331","added_params":{"query_timezone":"America/New_York","sorts":["users__fail.city"]},"forecast_result":null,"sql":"SELECT\n    users__fail.city  AS
      users__fail_city,\n    users__fail.email_address  AS users__fail_email,\n    users__fail.first  AS
      users__fail_first_name,\n    users__fail.id  AS users__fail_id,\n    users__fail.last  AS
      users__fail_last_name\nFROM looker-private-demo.ecomm.users\n   AS users__fail\nWHERE
      (1 = 2)\nORDER BY\n    1\nLIMIT 0","sql_explain":null,"fields":{"measures":[],"dimensions":[{"align":"left","can_filter":true,"category":"dimension","default_filter_value":null,"description":"","enumerations":null,"field_group_label":null,"fill_style":null,"fiscal_month_offset":0,"has_allowed_values":false,"hidden":false,"is_filter":false,"is_numeric":false,"label":"Users
      Fail City","label_from_parameter":null,"label_short":"City","map_layer":null,"name":"users__fail.city","strict_value_format":false,"requires_refresh_on_sort":false,"sortable":true,"suggestions":null,"tags":[],"type":"string","user_attribute_filter_types":["string","advanced_filter_string"],"value_format":null,"view":"users__fail","view_label":"Users
      Fail","dynamic":false,"week_start_day":"monday","original_view":"users__fail","dimension_group":null,"error":null,"field_group_variant":"City","measure":false,"parameter":false,"primary_key":false,"project_name":"eye_exam","scope":"users__fail","suggest_dimension":"users__fail.city","suggest_explore":"users__fail","suggestable":true,"is_fiscal":false,"is_timeframe":false,"can_time_filter":false,"time_interval":null,"lookml_link":"/projects/eye_exam/files/views%2Fusers__fail.view.lkml?line=20","permanent":null,"source_file":"views/users__fail.view.lkml","source_file_path":"eye_exam/views/users__fail.view.lkml","sql":"${TABLE}.city
      ","sql_case":null,"filters":null,"times_used":0,"sorted":{"sort_index":0,"desc":false}},{"align":"left","can_filter":true,"category":"dimension","default_filter_value":null,"description":"","enumerations":null,"field_group_label":null,"fill_style":null,"fiscal_month_offset":0,"has_allowed_values":false,"hidden":false,"is_filter":false,"is_numeric":false,"label":"Users
      Fail Email","label_from_parameter":null,"label_short":"Email","map_layer":null,"name":"users__fail.email","strict_value_format":false,"requires_refresh_on_sort":false,"sortable":true,"suggestions":null,"[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=d9065313c2c8ce2d7ff300075c9d397b
  response:
    content: '{"d9065313c2c8ce2d7ff300075c9d397b":{"status":"running"}}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=d9065313c2c8ce2d7ff300075c9d397b%2C508a8f9824e28d5c89bf7fa08e5eba2e
  response:
    content: '{"508a8f9824e28d5c89bf7fa08e5eba2e":{"status":"error","result_source":"query","data":{"from_cache":true,"id":"508a8f9824e28d5c89bf7fa08e5eba2e","supports_pivot_in_db":true,"null_sort_treatment":"low","expired":false,"ran_at":"2022-06-16T00:10:10+00:00","aggre[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=f4c45f90ba364c818d1a194bb7541618
  response:
    content: '{"f4c45f90ba364c818d1a194bb7541618":{"status":"running"}}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=f4c45f90ba364c818d1a194bb7541618%2C2e4a7395e25c03ea32ff30fd3c54004c%2C8ac6847f2723b72e0c029f96be93d821
  response:
    content: '{"2e4a7395e25c03ea32ff30fd3c54004c":{"status":"error","result_source":"query","data":{"from_cache":true,"id":"2e4a7395e25c03ea32ff30fd3c54004c","supports_pivot_in_db":true,"null_sort_treatment":"low","expired":false,"ran_at"[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/lookml_models/eye_exam/explores/users?fields=fields
  response:
    content: '{"fields":{"dimensions":[{"align":"right","can_filter":true,"category":"dimension","default_filter_value":null,"description":null,"enumerations":null,"field_group_label":null,"fill_style":null,"fiscal_month_offset":0,"has_allowed_values":false,"hidden":false,"is_filter":false,"is_numeric":true,"label":"Users
      [...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=e49840e4c0fd1599127b0aa27d2a87a6
  response:
    content: '{"e49840e4c0fd1599127b0aa27d2a87a6":{"status":"running"}}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=e49840e4c0fd1599127b0aa27d2a87a6
  response:
    content: '{"e49840e4c0fd1599127b0aa27d2a87a6":{"status":"complete","result_source":"query","data":{"from_cache":true,"id":"e49840e4c0fd1599127b0aa27d2a87a6","truncated":true,"supports_pivot_in_db":true,"null_sort_treatment":"low","expired":false,"ran_at":"2022-06-16T00:10:14+00:00","aggregate_table_used_info":null,"runtime":"0.510","added_params":{"query_timezone":"America/New_York","sorts":["users.city"]},"forecast_result":null,"dialect_specific_metadata":{"total_bytes_processed":0,"backend_cache_hit":true,"bi_engine_mode":null,"bi_engine_reasons":null,"bigquery_job_id":"looker-partners:US.job_N8NA36QVqZdLB8H68t3X7IlWB6Ph"},"sql":"SELECT\n    users.city  AS
      users_city,\n    users.email  AS users_email,\n    users.first_name  AS users_first_name,\n    users.id  AS
      users_id,\n    users.last_name  AS users_last_name,\n    users.state  AS users_state\nFROM
      looker-private-demo.ecomm.users\n     AS users\nWHERE (1 = 2)\nORDER BY\n    1\nLIMIT
      0","sql_explain":null,"fields":{"measures":[],"dimensions":[{"align":"left","can_filter":true,"categor[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/query_tasks/multi_results?query_task_ids=f4c45f90ba364c818d1a194bb7541618%2C2e4a7395e25c03ea32ff30fd3c54004c%2C8ac6847f2723b72e0c029f96be93d821%2C0c33d4e7a03d216498dd532629c9e0c6
  response:
    content: '{"0c33d4e7a03d216498dd532629c9e0c6":{"status":"error","result_source":"query","data":{"from_cache":true,"id":"0c33d4e7a03d216498dd532629c9e0c6","supports_pivot_in_db":true,"null_sort_treatm[...]
[...]
