interactions:
- request:
    body: '{"workspace_id": "dev"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://spectacles.looker.com:19999/api/3.1/session
  response:
    body:
      string: '{"workspace_id":"dev","sudo_user_id":null,"can":{"view":true,"update":true}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "pytest-fail-lookml"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://spectacles.looker.com:19999/api/3.1/projects/eye_exam/git_branch
  response:
    body:
      string: '{"name":"pytest-fail-lookml","remote":"origin","remote_name":"pytest-fail-lookml","error":null,"message":null,"owner_name":null,"readonly":false,"personal":false,"is_local":true,"is_remote":true,"is_production":false,"ahead_count":0,"behind_count":0,"commit_at":1641461156,"ref":"463f2e21ae52ba1f2713df5fa95349689ffd9dd4","remote_ref":"463f2e21ae52ba1f2713df5fa95349689ffd9dd4","can":{}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/projects/eye_exam/validate
  response:
    body:
      string: '{"errors":[{"code":null,"severity":"error","kind":"error","message":"Invalid
        lookml syntax near line 44","field_name":null,"file_path":null,"line_number":44,"model_id":null,"explore":null,"help_url":"http://www.looker.com/kb/analyst/parse-error","params":{},"sanitized_message":null},{"code":null,"severity":"error","kind":"error","message":"Invalid
        property for \"test\": asser","field_name":null,"file_path":"eye_exam/eye_exam.model.lkml","line_number":13,"model_id":null,"explore":null,"help_url":null,"params":{"level":"error"},"sanitized_message":"Invalid
        property for \"test\": asser"},{"code":null,"severity":"error","kind":"error","message":"Could
        not find a field named \"users.age\"","field_name":null,"file_path":"eye_exam/eye_exam.model.lkml","line_number":10,"model_id":null,"explore":null,"help_url":null,"params":{"level":"error"},"sanitized_message":"Could
        not find a field named \"users.age\""},{"code":null,"severity":"error","kind":"error","message":"Explore
        name must mat[...]
