interactions:
- request:
    body: '{"workspace_id": "production"}'
    headers:
      Authorization:
      - token qfcZvnknJn5xsNnbywKvP48sqJFtG3SbVqg25ykc
      Content-Type:
      - application/json
    method: PATCH
    uri: https://spectacles.looker.com:19999/api/3.1/session
  response:
    body:
      string: '{"workspace_id":"production","sudo_user_id":null,"can":{"view":true,"update":true}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - token qfcZvnknJn5xsNnbywKvP48sqJFtG3SbVqg25ykc
    method: POST
    uri: https://spectacles.looker.com:19999/api/3.1/projects/eye_exam/validate
  response:
    body:
      string: '{"errors":[],"models_not_validated":[],"computation_time":0.3703641891479492,"project_digest":"9f98f2e3c467f7278687abe04020082a4d15d3cd"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
