interactions:
- request:
    body: '{"workspace_id": "dev"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://spectacles.looker.com:19999/api/3.1/session
  response:
    body:
      string: '{"workspace_id":"dev","sudo_user_id":null,"can":{"view":true,"update":true}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "pytest-fail-lookml"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://spectacles.looker.com:19999/api/3.1/projects/eye_exam/git_branch
  response:
    body:
      string: '{"name":"pytest-fail-lookml","remote":"origin","remote_name":"pytest-fail-lookml","error":null,"message":null,"owner_name":null,"readonly":false,"personal":false,"is_local":true,"is_remote":true,"is_production":false,"ahead_count":0,"behind_count":0,"commit_at":1648842609,"ref":"067426a7d80ca00cdd982b2373ae8757756ff799","remote_ref":"067426a7d80ca00cdd982b2373ae8757756ff799","can":{}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/projects/eye_exam/validate
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: POST
    uri: https://spectacles.looker.com:19999/api/3.1/projects/eye_exam/validate
  response:
    body:
      string: '{"errors":[{"code":null,"severity":"warning","kind":"error","message":"Using
        \"use_aragonite\" in manifest.lkml without \"LookML New Runtime (Aragonite)\"
        enabled is not supported. Param ignored.","field_name":null,"file_path":null,"line_number":null,"model_id":"eye_exam","explore":"users","help_url":null,"params":{"level":"warning","scope":"phase_zero","from_dictionary":true},"sanitized_message":"Using
        \"use_aragonite\" in manifest.lkml without \"(?)\" enabled is not supported.
        Param ignored."},{"code":null,"severity":"warning","kind":"error","message":"Using
        \"use_aragonite\" in manifest.lkml without \"LookML New Runtime (Aragonite)\"
        enabled is not supported. Param ignored.","field_name":null,"file_path":null,"line_number":null,"model_id":"eye_exam","explore":"users__fail","help_url":null,"params":{"level":"warning","scope":"phase_zero","from_dictionary[...]
