interactions:
- request:
    body: '{"workspace_id": "production"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://spectacles.looker.com:19999/api/3.1/session
  response:
    body:
      string: '{"workspace_id":"production","sudo_user_id":null,"can":{"view":true,"update":true}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/projects/eye_exam/validate
  response:
    body:
      string: '{"errors":[],"models_not_validated":[],"computation_time":null,"stale":false,"project_digest":"821c1bb5e893d2957d15e2b0781124fd29742bd6"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
