interactions:
- request:
    body: '{"workspace_id": "production"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://spectacles.looker.com:19999/api/3.1/session
  response:
    body:
      string: '{"workspace_id":"production","sudo_user_id":null,"can":{"view":true,"update":true}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/projects/eye_exam/git_branch
  response:
    body:
      string: '{"name":"master","remote":"origin","remote_name":"master","error":null,"message":null,"owner_name":null,"readonly":true,"personal":false,"is_local":true,"is_remote":true,"is_production":true,"ahead_count":0,"behind_count":0,"commit_at":1589222232,"ref":"c4d5d604b4b9caea00cd565097d9fc5387f329a3","remote_ref":"c4d5d604b4b9caea00cd565097d9fc5387f329a3","can":{}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://spectacles.looker.com:19999/api/3.1/projects/eye_exam/git_branch/tmp_spectacles_abc123
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/projects/eye_exam/git_branches
  response:
    body:
      string: '[{"name":"dev-josh-temple-8m75","remote":"origin","remote_name":"dev-josh-temple-8m75","error":null,"message":null,"owner_name":null,"readonly":false,"personal":true,"is_local":true,"is_remote":true,"is_production":false,"ahead_count":0,"behind_count":0,"commit_at":1589222232,"ref":"c4d5d604b4b9caea00cd565097d9fc5387f329a3[...]
