interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/spectacles-ci/eye-exam/branches/master
  response:
    body:
      string: '{"name":"master","commit":{"sha":"b0823dad6abb07bf26e468bf91e7c6531c758e32","node_id":"C_kwDODcbQgdoAKGIwODIzZGFkNmFiYjA3YmYyNmU0NjhiZjkxZTdjNjUzMWM3NThlMzI","commit":{"author":{"name":"Dylan
        Baker","email":"dylan@dbanalytics.co","date":"2022-04-01T14:29:26Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2022-04-01T14:29:26Z"},"message":"Update
        users__fail.view.lkml","tree":{"sha":"11485ed8898d0da32e887f460b2f935e36b919a3","url":"https://api.github.com/repos/spectacles-ci/eye-exam/git/trees/11485ed8898d0da32e887f460b2f935e36b919a3"},"url":"https://api.github.com/repos/spectacles-ci/eye-exam/git/commits/b0823dad6abb07bf26e468bf91e7c6531c758e32","comment_count":0,"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
        PGP SIGNATURE-----\n\nwsBcBAABCAAQBQJiRwxGCRBK7hj4Ov3rIwAA2eIIAHnfBet3+XOHRbrEidd3dIhg\nxJ7RUxRADC6RBRohPrMBF1vsFQJaWcUocuqsaDOTGavoH8qgnbyRRw1AsSMkS5e9\n16svivubXpZ18nxTqgS+4FXQxWJwDC04BThFBJeOwdaBS3rO2/Qjyo/rLJzCQey8\nJUS9gSLUGxQV+WVBqPpQ8kr8U2hN6s7u8FNHMNMXm9CWTQo8PyZ27GFmnn4hsBvt\nAJPLWNMlk2g7KGHUCQKcQQW5d75VJ8To0vHxYBqNH7zkM5jsE5D/CNUycxhgmHs0\nKkrZQAsx13gRJ0yHYNwCMsIiybNJHLdUkcjjKlp2i4iyqWu0IAUHMrGxRfAVnt0=\n=AUzF\n-----END
        PGP SIGNATURE-----\n","payload":"tree 11485ed8898d0da32e887f460b2f935e36b919a3\nparent
        3f82027f93b8f1a74c217961d9a123ae700f5529\nauthor Dylan Baker <dylan@dbanalytics.co>
        1648823366 +0100\ncommitter GitHub <noreply@github.com> 1648823366 +0100\n\nUpdate
        users__fail.view.lkml"}},"url":"https://api.github.com/repos/spectacles-ci/eye-exam/commits/b0823dad6abb07bf26e468bf91e7c6531c758e32","html_url":"https://github.com/spectacles-ci/eye-exam/commit/b0823dad6abb07bf26e468bf91e7c6531c758e32","comments_url":"https://api.github.com/repos/spectacles-ci/eye-exam/commits/b0823dad6abb07bf26e468bf91e7c6531c758e32/comments","author":{"login":"DylanBaker","id":10001014,"node_id":"MDQ6VXNlcjEwMDAxMDE0","avatar_url":"https://avatars.githubusercontent.com/u/10001014?v=4","gravatar_id":"","url":"https://api.github.com/users/DylanBaker","html_url":"https://github.com/DylanBaker","followers_url":"https://api.github.com/users/DylanBaker/followers","following_url":"https://api.github.com/users/DylanBaker/following{/other_user}","gists_url":"https://api.github.com/users/DylanBaker/gists{/gist_id}","starred_url":"https://api.github.com/users/DylanBaker/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/DylanBaker/subscriptions","organizations_url":"https://api.github.com/users/DylanBaker/orgs","repos_url":"https://api.github.com/users/DylanBaker/repos","events_url":"https://api.github.com/users/DylanBaker/events{/privacy}","received_events_url":"https://api.github.com/users/DylanBaker/received_events","type":"User","site_admin":false},"committer":{"login":"web-flow","id":19864447,"node_id":"MDQ6VXNlcjE5ODY0NDQ3","avatar_url":"https://avatars.githubusercontent.com/u/19864447?v=4","gravatar_id":"","url":"https://api.github.com/users/web-flow","html_url":"https://github.com/web-flow","followers_url":"https://api.github.com/users/web-flow/followers","following_url":"https://api.github.com/users/web-flow/following{/other_user}","gists_url":"https://api.github.com/users/web-flow/gists{/gist_id}","starred_url":"https://api.github.com/users/web-flow/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/web-flow/subscriptions","organizations_url":"https://api.github.com/users/web-flow/orgs","repos_url":"https://api.github.com/users/web-flow/repos","events_url":"https://api.github.com/users/web-flow/events{/privacy}","received_events_url":"https://api.github.com/users/web-flow/received_events","type":"User","site_admin":false},"parents":[{"sha":"3f82027f93b8f1a74c217961d9a123ae700f5529","url":"https://api.github.com/repos/spectacles-ci/eye-exam/commits/3f82027f93b8f1a74c217961d9a123ae700f5529","html_url":"https://github.com/spectacles-ci/eye-exam/commit/3f82027f93b8f1a74c217961d9a123ae700f5529"}]},"_links":{"self":"https://api.github.com/repos/spectacles-ci/eye-exam/branches/master","html":"https://github.com/spectacles-ci/eye-exam/tree/master"},"protected":true,"protection":{"enabled":true,"required_status_checks":{"enforcement_level":"non_admins","contexts":[],"checks":[]}},"protection_url":"https://api.github.com/repos/spectacles-ci/eye-exam/branches/master/protection"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"233dbfbb087aa5ee27715184c58ed50d9d20cc67e6d3af81b44d6c718296d073"
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4915'
      X-RateLimit-Reset:
      - '1649088098'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '85'
      github-authentication-token-expiration:
      - 2022-04-11 14:59:07 UTC
    status:
      code: 200
      message: OK
- request:
    body: '{"ref": "refs/heads/pytest-tmp", "sha": "b0823dad6abb07bf26e468bf91e7c6531c758e32"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/spectacles-ci/eye-exam/git/refs
  response:
    body:
      string: '{"ref":"refs/heads/pytest-tmp","node_id":"MDM6UmVmMjMxMTMzMzEzOnJlZnMvaGVhZHMvcHl0ZXN0LXRtcA==","url":"https://api.github.com/repos/spectacles-ci/eye-exam/git/refs/heads/pytest-tmp","object":{"sha":"b0823dad6abb07bf26e468bf91e7c6531c758e32","type":"commit","url":"https://api.github.com/repos/spectacles-ci/eye-exam/git/commits/b0823dad6abb07bf26e468bf91e7c6531c758e32"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"2080963eb062e32f9b93c927c2b9c18e6e8cecf145d906c9003bd3713847fa92"'
      Location:
      - https://api.github.com/repos/spectacles-ci/eye-exam/git/refs/heads/pytest-tmp
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4914'
      X-RateLimit-Reset:
      - '1649088098'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '86'
      github-authentication-token-expiration:
      - 2022-04-11 14:59:07 UTC
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/spectacles-ci/eye-exam/contents/README.md?ref=master
  response:
    body:
      string: '{"name":"README.md","path":"README.md","sha":"025fc068587560d0ab40ba3b90508d8ea0f1e1a8","size":37,"url":"https://api.github.com/repos/spectacles-ci/eye-exam/contents/README.md?ref=master","html_url":"https://github.com/spectacles-ci/eye-exam/blob/master/README.md","git_url":"https://api.github.com/repos/spectacles-ci/eye-exam/git/blobs/025fc068587560d0ab40ba3b90508d8ea0f1e1a8","download_url":"https://raw.githubusercontent.com/spectacles-ci/eye-exam/master/README.md?token=ACCFHK2XCXRGKWXQQ3M2RMTCJMKEY","type":"file","content":"IyBFeWUgRXhhbQoKVGhpcyBuZWVkcyB0byBiZSBjaGFuZ2VkCg==\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/spectacles-ci/eye-exam/contents/README.md?ref=master","git":"https://api.github.com/repos/spectacles-ci/eye-exam/git/blobs/025fc068587560d0ab40ba3b90508d8ea0f1e1a8","html":"https://github.com/spectacles-ci/eye-exam/blob/master/README.md"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"025fc068587560d0ab40ba3b90508d8ea0f1e1a8"
      Last-Modified:
      - Fri, 01 Apr 2022 14:29:26 GMT
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4913'
      X-RateLimit-Reset:
      - '1649088098'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '87'
      github-authentication-token-expiration:
      - 2022-04-11 14:59:07 UTC
    status:
      code: 200
      message: OK
- request:
    body: '{"message": "Updating file", "content": "Lg==", "sha": "025fc068587560d0ab40ba3b90508d8ea0f1e1a8",
      "branch": "pytest-tmp"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.github.com/repos/spectacles-ci/eye-exam/contents/README.md
  response:
    body:
      string: '{"content":{"name":"README.md","path":"README.md","sha":"945c9b46d684f08ec84cb316e1dc0061e361f794","size":1,"url":"https://api.github.com/repos/spectacles-ci/eye-exam/contents/README.md?ref=pytest-tmp","html_url":"https://github.com/spectacles-ci/eye-exam/blob/pytest-tmp/README.md","git_url":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/session
  response:
    body:
      string: '{"workspace_id":"production","sudo_user_id":null,"can":{"view":true,"update":true}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/projects/eye_exam/git_branch
  response:
    body:
      string: '{"name":"master","remote":"origin","remote_name":"master","error":null,"message":null,"owner_name":null,"readonly":false,"personal":false,"is_local":true,"is_remote":true,"is_production":true,"ahead_count":0,"behind_count":0,"commit_at":1648823366,"ref":"b0823dad6abb07bf26e468bf91e7c6531c758e32","remote_ref":"b0823dad6abb07bf26e468bf91e7c6531c758e32","can":{}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://spectacles.looker.com:19999/api/3.1/projects/eye_exam/git_branch/tmp_spectacles_abc123
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/spectacles-ci/eye-exam/git/refs/heads/pytest-tmp
  response:
    body:
      string: '{"ref":"refs/heads/pytest-tmp","node_id":"MDM6UmVmMjMxMTMzMzEzOnJlZnMvaGVhZHMvcHl0ZXN0LXRtcA==","url":"https://api.github.com/repos/spectacles-ci/eye-exam/git/refs/heads/pytest-tmp","object":{"sha":"2c1d7e6b3ec07205ebd7c59cd32128043f2ed3e1","type":"commit","url":"https://api.github.com/repos/spectacles-ci/eye-exam/git/commits/2c1d7e6b3ec07205ebd7c59cd32128043f2ed3e1"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"463f6d9b0c21907051dd020de17d908b9c1e32b65ad9cff78bf9291efe97ae4d"
      Last-Modified:
      - Mon, 04 Apr 2022 15:51:44 GMT
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - repo
      X-Poll-Interval:
      - '300'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4911'
      X-RateLimit-Reset:
      - '1649088098'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '89'
      github-authentication-token-expiration:
      - 2022-04-11 14:59:07 UTC
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.github.com/repos/spectacles-ci/eye-exam/git/refs/heads/pytest-tmp
  response:
    body:
      string: ''
    headers:
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4910'
      X-RateLimit-Reset:
      - '1649088098'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '90'
      github-authentication-token-expiration:
      - 2022-04-11 14:59:07 UTC
    status:
      code: 204
      message: No Content
version: 1
