interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/spectacles-ci/eye-exam
  response:
    body:
      string: '{"id":231133313,"node_id":"MDEwOlJlcG9zaXRvcnkyMzExMzMzMTM=","name":"eye-exam","full_name":"spectacles-ci/eye-exam","private":true,"owner":{"login":"spectacles-ci","id":56096720,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU2MDk2NzIw","avatar_url":"https://avatars.githubusercontent.com/u/56096720?v=4","gravatar_id":"","url":"https://api.github.com/users/spectacles-ci","html_url":"https://github.com/spectacles-ci","followers_url":"https://api.github.com/users/spectacles-ci/followers","following_url":"https://api.github.com/users/spectacles-ci/following{/other_user}","gists_url":"https://api.github.com/users/spectacles-ci/gists{/gist_id}","starred_url":"https://api.github.com/users/spectacles-ci/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/spectacles-ci/subscriptions","organizations_url":"https://api.github.com/users/spectacles-ci/orgs","repos_url":"https://api.github.com/users/spectacles-ci/repos","events_url":"https://api.github.com/users/spectacles-ci/events{/privacy}","received_events_url":"https://api.github.com/users/spectacles-ci/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/spectacles-ci/eye-exam","description":"Looker
        project for benchmarking and testing","fork":false,"url":"https://api.github.com/repos/spectacles-ci/eye-exam","forks_url":"https://api.github.com/repos/spectacles-ci/eye-exam/forks","keys_url":"https://api.github.com/repos/spectacles-ci/eye-exam/keys{/key_id}","collaborators_url":"https://api.github.com/repos/spectacles-ci/eye-exam/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/spectacles-ci/eye-exam/teams","hooks_url":"https://api.github.com/repos/spectacles-ci/eye-exam/hooks","issue_events_url":"https://api.github.com/repos/spectacles-ci/eye-exam/issues/events{/number}","events_url":"https://api.github.com/repos/spectacles-ci/eye-exam/events","assignees_url":"https://api.github.com/repos/spectacles-ci/eye-exam/assignees{/user}","branches_url":"https://api.github.com/repos/spectacles-ci/eye-exam/branches{/branch}","tags_url":"https://api.github.com/repos/spectacles-ci/eye-exam/tags","blobs_url":"https://api.github.com/repos/spectacles-ci/eye-exam/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/spectacles-ci/eye-exam/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/spectacles-ci/eye-exam/git/refs{/sha}","trees_url":"https://api.github.com/repos/spectacles-ci/eye-exam/git/trees{/sha}","statuses_url":"https://api.github.com/repos/spectacles-ci/eye-exam/statuses/{sha}","languages_url":"https://api.github.com/repos/spectacles-ci/eye-exam/languages","stargazers_url":"https://api.github.com/repos/spectacles-ci/eye-exam/stargazers","contributors_url":"https://api.github.com/repos/spectacles-ci/eye-exam/contributors","subscribers_url":"https://api.github.com/repos/spectacles-ci/eye-exam/subscribers","subscription_url":"https://api.github.com/repos/spectacles-ci/eye-exam/subscription","commits_url":"https://api.github.com/repos/spectacles-ci/eye-exam/commits{/sha}","git_commits_url":"https://api.github.com/repos/spectacles-ci/eye-exam/git/commits{/sha}","comments_url":"https://api.github.com/repos/spectacles-ci/eye-exam/comments{/number}","issue_comment_url":"https://api.github.com/repos/spectacles-ci/eye-exam/issues/comments{/number}","contents_url":"https://api.github.com/repos/spectacles-ci/eye-exam/contents/{+path}","compare_url":"https://api.github.com/repos/spectacles-ci/eye-exam/compare/{base}...{head}","merges_url":"https://api.github.com/repos/spectacles-ci/eye-exam/merges","archive_url":"https://api.github.com/repos/spectacles-ci/eye-exam/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/spectacles-ci/eye-exam/downloads","issues_url":"https://api.github.com/repos/spectacles-ci/eye-exam/issues{/number}","pulls_url":"https://api.github.com/repos/spectacles-ci/eye-exam/pulls{/number}","milestones_url":"https://api.github.com/repos/spectacles-ci/eye-exam/milestones{/number}","notifications_url":"https://api.github.com/repos/spectacles-ci/eye-exam/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/spectacles-ci/eye-exam/labels{/name}","releases_url":"https://api.github.com/repos/spectacles-ci/eye-exam/releases{/id}","deployments_url":"https://api.github.com/repos/spectacles-ci/eye-exam/deployments","created_at":"2019-12-31T18:38:47Z","updated_at":"2022-03-09T13:17:20Z","pushed_at":"2022-04-04T16:42:48Z","git_url":"git://github.com/spectacles-ci/eye-exam.git","ssh_url":"git@github.com:spectacles-ci/eye-exam.git","clone_url":"https://github.com/spectacles-ci/eye-exam.git","svn_url":"https://github.com/spectacles-ci/eye-exam","homepage":null,"size":35,"stargazers_count":0,"watchers_count":0,"language":"LookML","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":3,"license":null,"allow_forking":false,"is_template":false,"topics":[],"visibility":"private","forks":0,"open_issues":3,"watchers":0,"default_branch":"master","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"temp_clone_token":"ACCFHK4IFYNRJGQUCQMHJ7LCJMRU2","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"organization":{"login":"spectacles-ci","id":56096720,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU2MDk2NzIw","avatar_url":"https://avatars.githubusercontent.com/u/56096720?v=4","gravatar_id":"","url":"https://api.github.com/users/spectacles-ci","html_url":"https://github.com/spectacles-ci","followers_url":"https://api.github.com/users/spectacles-ci/followers","following_url":"https://api.github.com/users/spectacles-ci/following{/other_user}","gists_url":"https://api.github.com/users/spectacles-ci/gists{/gist_id}","starred_url":"https://api.github.com/users/spectacles-ci/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/spectacles-ci/subscriptions","organizations_url":"https://api.github.com/users/spectacles-ci/orgs","repos_url":"https://api.github.com/users/spectacles-ci/repos","events_url":"https://api.github.com/users/spectacles-ci/events{/privacy}","received_events_url":"https://api.github.com/users/spectacles-ci/received_events","type":"Organization","site_admin":false},"network_count":0,"subscribers_count":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"ec83e41f611d8189f4e2dca828bb4e38f0ac44888e575b26f206bbbe6c0d8bb8"
      Last-Modified:
      - Wed, 09 Mar 2022 13:17:20 GMT
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4963'
      X-RateLimit-Reset:
      - '1649093099'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '37'
      github-authentication-token-expiration:
      - 2022-04-11 14:59:07 UTC
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/spectacles-ci/eye-exam/branches/master
  response:
    body:
      string: '{"name":"master","commit":{"sha":"b0823dad6abb07bf26e468bf91e7c6531c758e32","node_id":"C_kwDODcbQgdoAKGIwODIzZGFkNmFiYjA3YmYyNmU0NjhiZjkxZTdjNjUzMWM3NThlMzI","commit":{"author":{"name":"Dylan
        Baker","email":"dylan@dbanalytics.co","date":"2022-04-01T14:29:26Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2022-04-01T14:29:26Z"},"message":"Update
        users__fail.view.lkml","tree":{"sha":"11485ed8898d0da32e887f460b2f935e36b919a3","url":"https://api.github.com/repos/spectacles-ci/eye-exam/git/trees/11485ed8898d0da32e887f460b2f935e36b919a3"},"url":"https://api.github.com/repos/spectacles-ci/eye-exam/git/commits/b0823dad6abb07bf26e468bf91e7c6531c758e32","comment_count":0,"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
        PGP SIGNATURE-----\n\nwsBcBAABCAAQBQJiRwxGCRBK7hj4Ov3rIwAA2eIIAHnfBet3+XOHRbrEidd3dIhg\nxJ7RUxRADC6RBRohPrMBF1vsFQJaWcUocuqsaDOTGavoH8qgnbyRRw1AsSMkS5e9\n16svivubXpZ18nxTqgS+4FXQxWJwDC04BThFBJeOwdaBS3rO2/Qjyo/rLJzCQey8\nJUS9gSLUGxQV+WVBqPpQ8kr8U2hN6s7u8FNHMNMXm9CWTQo8PyZ27GFmnn4hsBvt\nAJPLWNMlk2g7KGHUCQKcQQW5d75VJ8To0vHxYBqNH7zkM5jsE5D/CNUycxhgmHs0\nKkrZQAsx13gRJ0yHYNwCMsIiybNJHLdUkcjjKlp2i4iyqWu0IAUHMrGxRfAVnt0=\n=AUzF\n-----END
        PGP SIGNATURE-----\n","payload":"tree 11485ed8898d0da32e887f460b2f935e36b919a3\nparent
        3f82027f93b8f1a74c217961d9a123ae700f5529\nauthor Dylan Baker <dylan@dbanalytics.co>
        1648823366 +0100\ncommitter GitHub <noreply@github.com> 1648823366 +0100\n\nUpdate
        users__fail.view.lkml"}},"url":"https://api.github.com/repos/spectacles-ci/eye-exam/commits/b0823dad6abb07bf26e468bf91e7c6531c758e32","html_url":"https://github.com/spectacles-ci/eye-exam/commit/b0823dad6abb07bf26e468bf91e7c6531c758e32","comments_url":"h[...]
- request:
    body: '{"ref": "refs/heads/pytest-tmp", "sha": "b0823dad6abb07bf26e468bf91e7c6531c758e32"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.github.com/repos/spectacles-ci/eye-exam/git/refs
  response:
    body:
      string: '{"ref":"refs/heads/pytest-tmp","node_id":"MDM6UmVmMjMxMTMzMzEzOnJlZnMvaGVhZHMvcHl0ZXN0LXRtcA==","url":"https://api.github.com/repos/spectacles-ci/eye-exam/git/refs/heads/pytest-tmp","object":{"sha":"b0823dad6abb07bf26e468bf91e7c6531c758e32","type":"commit","url":"https://api.github.com/repos/spectacles-ci/eye-exam/git/commits/b0823dad6abb07bf26e468bf91e7c6531c758e32"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"2080963eb062e32f9b93c927c2b9c18e6e8cecf145d906c9003bd3713847fa92"'
      Location:
      - https://api.github.com/repos/spectacles-ci/eye-exam/git/refs/heads/pytest-tmp
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4961'
      X-RateLimit-Reset:
      - '1649093099'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '39'
      github-authentication-token-expiration:
      - 2022-04-11 14:59:07 UTC
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/spectacles-ci/eye-exam/contents/README.md?ref=master
  response:
    body:
      string: '{"name":"README.md","path":"README.md","sha":"025fc068587560d0ab40ba3b90508d8ea0f1e1a8","size":37,"url":"https://api.github.com/repos/spectacles-ci/eye-exam/contents/README.md?ref=master","html_url":"https://github.com/spectacles-ci/eye-exam/blob/master/README.md","git_url":"https://api.github.com/repos/spectacles-ci/eye-exam/git/blobs/025fc068587560d0ab40ba3b90508d8ea0f1e1a8","download_url":"https://raw.githubusercontent.com/spectacles-ci/eye-exam/master/README.md?token=ACCFHK3WGK3TFXX5BMB3EM3CJMRF2","type":"file","content":"IyBFeWUgRXhhbQoKVGhpcyBuZWVkcyB0byBiZSBjaGFuZ2VkCg==\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/spectacles-ci/eye-exam/contents/README.md?ref=master","git":"https://api.github.com/repos/spectacles-ci/eye-exam/git/blobs/025fc068587560d0ab40ba3b90508d8ea0f1e1a8","html":"https://github.com/spectacles-ci/eye-exam/blob/master/README.md"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"025fc068587560d0ab40ba3b90508d8ea0f1e1a8"
      Last-Modified:
      - Fri, 01 Apr 2022 14:29:26 GMT
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4960'
      X-RateLimit-Reset:
      - '1649093099'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '40'
      github-authentication-token-expiration:
      - 2022-04-11 14:59:07 UTC
    status:
      code: 200
      message: OK
- request:
    body: '{"message": "Updating file", "content": "Lg==", "sha": "025fc068587560d0ab40ba3b90508d8ea0f1e1a8",
      "branch": "pytest-tmp"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.github.com/repos/spectacles-ci/eye-exam/contents/README.md
  response:
    body:
      string: '{"content":{"name":"README.md","path":"README.md","sha":"945c9b46d684f08ec84cb316e1dc0061e361f794","size":1,"url":"https://api.github.com/repos/spectacles-ci/eye-exam/contents/README.md?ref=pytest-tmp","html_url":"https://github.com/spectacles-ci/eye-exam/blob/pytest-tmp/README.md","git_url":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/session
  response:
    body:
      string: '{"workspace_id":"production","sudo_user_id":null,"can":{"view":true,"update":true}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/projects/eye_exam/git_branch
  response:
    body:
      string: '{"name":"master","remote":"origin","remote_name":"master","error":null,"message":null,"owner_name":null,"readonly":false,"personal":false,"is_local":true,"is_remote":true,"is_production":true,"ahead_count":0,"behind_count":0,"commit_at":1648823366,"ref":"b0823dad6abb07bf26e468bf91e7c6531c758e32","remote_ref":"b0823dad6abb07bf26e468bf91e7c6531c758e32","can":{}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://spectacles.looker.com:19999/api/3.1/projects/eye_exam/git_branch/tmp_spectacles_abc123
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/spectacles-ci/eye-exam/git/refs/heads/pytest-tmp
  response:
    body:
      string: '{"ref":"refs/heads/pytest-tmp","node_id":"MDM6UmVmMjMxMTMzMzEzOnJlZnMvaGVhZHMvcHl0ZXN0LXRtcA==","url":"https://api.github.com/repos/spectacles-ci/eye-exam/git/refs/heads/pytest-tmp","object":{"sha":"bdebf6ee03ee8158f9912bfe857b70e0f754a358","type":"commit","url":"https://api.github.com/repos/spectacles-ci/eye-exam/git/commits/bdebf6ee03ee8158f9912bfe857b70e0f754a358"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"0e38ef39310244d7d7cd8d16bc35d76821ec1216d59df0587f98ec559cea7479"
      Last-Modified:
      - Mon, 04 Apr 2022 16:51:46 GMT
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - repo
      X-Poll-Interval:
      - '300'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4958'
      X-RateLimit-Reset:
      - '1649093099'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '42'
      github-authentication-token-expiration:
      - 2022-04-11 14:59:07 UTC
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.github.com/repos/spectacles-ci/eye-exam/git/refs/heads/pytest-tmp
  response:
    body:
      string: ''
    headers:
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4957'
      X-RateLimit-Reset:
      - '1649093099'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '43'
      github-authentication-token-expiration:
      - 2022-04-11 14:59:07 UTC
    status:
      code: 204
      message: No Content
version: 1
