interactions:
- request:
    body: '{"workspace_id": "dev"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://spectacles.looker.com:19999/api/3.1/session
  response:
    body:
      string: '{"workspace_id":"dev","sudo_user_id":null,"can":{"view":true,"update":true}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/projects/eye_exam/git_branch
  response:
    body:
      string: '{"name":"pytest","remote":"origin","remote_name":"pytest","error":null,"message":null,"owner_name":null,"readonly":false,"personal":false,"is_local":true,"is_remote":true,"is_production":false,"ahead_count":0,"behind_count":0,"commit_at":1615928589,"ref":"48a5845ab485c3a49beca70ca5fdec3b0f2cbedf","remote_ref":"48a5845ab485c3a49beca70ca5fdec3b0f2cbedf","can":{}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://spectacles.looker.com:19999/api/3.1/session
  response:
    body:
      string: '{"workspace_id":"dev","sudo_user_id":null,"can":{"view":true,"update":true}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
