interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://spectacles.looker.com:19999/api/3.1/login
  response:
    content: "<!DOCTYPE html>\n<html>\n<head>\n    <title>Looker Not Found (404)</title>\n
      \   <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet'
      type='text/css'>\n\n    <!-- @@@@@@@@@@@@@ FAVICONS @@@@@@@@@@@@@ -->\n\n    <link
      rel=\"apple-touch-icon-precomposed\" sizes=\"57x57\" href=\"https://wwwstatic-b.lookercdn.com/favicon/apple-touch-icon-57x57.png\"
      />\n    <link rel=\"apple-touch-icon-precomposed\" sizes=\"114x114\" href=\"https://wwwstatic-c.lookercdn.com/favicon/apple-touch-icon-114x114.png\"
      />\n    <link rel=\"apple-touch[...]
